@import 'style/engine/index';
@import 'style/themes/default';

.md-subheader {
  min-height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  font-size: 14px;
  font-weight: 500;

  @include md-theme-property(color, text-accent, background);

  &.md-primary {
    @include md-theme-property(color, primary, background);
  }
}
