.md-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;

  th,
  td {
    &.md-numeric {
      text-align: right;
    }
  }

  > thead > tr > th {
    text-align: left;
    height: 56px;
    padding: 14px 32px 14px 24px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--md-on-surface-medium);
  }

  > tbody > tr > td {
    height: 48px;
    position: relative;
    font-size: 13px;
    line-height: 18px;
    padding: 6px 32px 6px 24px;
    border-top: 1px solid;
    border-top-color: var(--md-outline);

    > a {
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }

      & + a {
        margin-left: 6px;
      }
    }
  }

  > tbody > tr:hover > td {
    background-color: var(--md-outline);
  }
}
