<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="分页">
  <div class="page-container-section">
    <p><_t>采用分页的形式分隔长列表，每次只加载一个页面。</_t></p> 
  </div>
  <div class="page-container-section">
    <h2><_t>基础分页</_t></h2>
    <p><_t>基础分页只包括页码按钮。</_t></p>
    <CodeExample title="Basic" e:example="_examples.basic" />
  </div>
  <div class="page-container-section">
    <h2><_t>完整分页</_t></h2>
    <p><_t>
      完整分页包括页码按钮、每页个数选择、快速跳转页码以及展示数据总条数功能。每个功能都可以通过参数独立控制是否使用。
    </_t></p>
    <CodeExample title="Full" e:example="_examples.full" />
  </div>
  <div class="page-container-section">
    <h2><_t>禁用分页</_t></h2>
    <p><_t>
      有两种情况需要禁用(Disabled)分页，某些需求下需要禁用整个分页，或当正在加载某一页的数据时提示用该页正在加载并且禁用分页以避免重复提交。
      后者是业务中最常见的情况。为此，提供了 <code>disabled</code> 和 <code>loadingPage</code> 两个参数。请参看<code>表格（Table）</code>组件
      的示例中，有一个完整的分页组件和表格展示搭配的例子。
    </_t></p>
    <CodeExample title="Disabled" e:example="_examples.disabled" />

    <ApiItem title="API - md-paginaition">
      <ApiTable e:headings="api.full.props.headings" e:props="api.full.props.props" slot-pass:props />
      <ApiTable e:headings="api.full.events.headings" e:props="api.full.events.props" slot-pass:events />
    </ApiItem>
  </div>
  <div class="page-container-section">
    <h2><_t>只支持[第一页/上一页/下一页]的轻量分页</_t></h2>
    <p><_t>
      轻量分页组件用于不统计总页码，使用游标（cursor）来进行分页的情况。
      多用于数据量很大需要高效分页的情形，这类情况下会牺牲一定的用户体验来换取性能，
      比如无法直观看到总页码，也不能随意跳转到任意页码。
    </_t></p>
    <CodeExample title="Lightweight" e:example="_examples.light" />

    <ApiItem title="API - md-light-paginaition">
      <ApiTable e:headings="api.light.props.headings" e:props="api.light.props.props" slot-pass:props />
      <ApiTable e:headings="api.light.events.headings" e:props="api.light.events.props" slot-pass:events />
    </ApiItem>
  </div>
</PageContainer>