<div class="md-layout md-gutter">
  <div class="md-layout-item md-size-33">
    <p>
      <strong>Fuzzy search</strong> - search term: <code>pam</code>
    </p>
    <div>
      Matches:
      <ul>
        <li>
          <md-highlight term="pam" text="Pam Beesly"/>
        </li>

        <li>
          <md-highlight term="pam" text="Meredith Palmer"/>
        </li>
      </ul>
    </div>
  </div>

  <div class="md-layout-item md-size-33">
    <p>
      <strong>Includes Search</strong> - search term: <code>pam</code>
    </p>
    <div>
      Matches:
      <ul>
        <li>
          <md-highlight term="pam" searchMethod="includes" text="Pam Beesly"/>
        </li>
        <li>
          <md-highlight term="pam" searchMethod="includes" text="Ki Pam Beesly"/>
        </li>
      </ul>
    </div>
  </div>
  <div class="md-layout-item md-size-33">
    <p>
      <strong>Starts Search</strong> - search term: <code>pam</code>
    </p>
    <div>
      Matches:
      <ul>
        <li>
          <md-highlight searchMethod="starts" term="pam" text="Pam Beesly"/>
        </li>
        <li>
          <md-highlight searchMethod="starts" term="pam" text="Ki Pam Beesly"/>
        </li>
      </ul>
    </div>
  </div>
</div>