$md-elevation-umbra-color: rgba(#000, 0.2);
$md-elevation-penumbra-color: rgba(#000, 0.14);
$md-elevation-ambient-color: rgba(#000, 0.12);

$md-elevation-umbra: (
  0: '0 0 0 0',
  1: '0 2px 1px -1px',
  2: '0 3px 1px -2px',
  3: '0 3px 3px -2px',
  4: '0 2px 4px -1px',
  6: '0 3px 5px -1px',
  8: '0 5px 5px -3px',
  12: '0 7px 8px -4px',
  16: '0 8px 10px -5px',
  24: '0 11px 15px -7px'
);

$md-elevation-penumbra: (
  0: '0 0 0 0',
  1: '0 1px 1px 0',
  2: '0 2px 2px 0',
  3: '0 3px 4px 0',
  4: '0 4px 5px 0',
  6: '0 6px 10px 0',
  8: '0 8px 10px 1px',
  12: '0 12px 17px 2px',
  16: '0 16px 24px 2px',
  24: '0 24px 38px 3px'
);

$md-elevation-ambient: (
  0: '0 0 0 0',
  1: '0 1px 3px 0',
  2: '0 1px 5px 0',
  3: '0 1px 8px 0',
  4: '0 1px 10px 0',
  6: '0 1px 18px 0',
  8: '0 3px 14px 2px',
  12: '0 5px 22px 4px',
  16: '0 6px 30px 5px',
  24: '0 9px 46px 8px'
);

/**
 * The elevation transition duration
 * ---
 * @access private
 * @type transition
 * @group transition
 */

$md-elevation-transition-duration: 0.3s;
