<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="工具栏（Toolbar）">
  <div class="page-container-section">
    <p>Toolbar actions appear above the view affected by their actions. They may constrain their width to accommodate material passing over them.</p>
  </div>

  <div class="page-container-section">
    <h2>常规工具栏</h2>

    <p>Toolbars adjusts its height dimensions based on the screen width to best fit the visible area on small devices. Try to resize your browser to see the difference:</p>

    <CodeExample title="Regular Toolbars" e:_example="_examples.regularToolbar" />

    <ApiItem title="API - md-toolbar">
      <p slot-pass:default>The following options can be applied to all toolbars:</p>

      <ApiTable e:headings="_api.regular.classes.headings" e:props="_api.regular.classes.props" slot-pass:classes />
      <ApiTable e:headings="_api.regular.props.headings" e:props="_api.regular.props.props" slot-pass:props />
    </ApiItem>
  </div>

  <div class="page-container-section">
    <h2>不同大小的工具栏</h2>

    <CodeExample title="Sizes" e:_example="_examples.toolbarSizes" />
  </div>

  <div class="page-container-section">
    <h2>内容和响应</h2>
    <p>As the Toolbars are mostly used to hold actions that affects the entire application, you can create rows or sections inside of it.</p>
    <p>Although those rows works on every toolbar, they were created to separate contents for large toolbars. This element is represented by the <code>md-toolbar-row</code> class. A row can also have a <code>md-toolbar-offset</code> to add a little space on the left of it. This is commonly used inside the second row of an large toolbar.</p>
    <p>The sections are used to split the content of the toolbar horizontally (or the row inside). You can apply them using two types of section: <code>md-toolbar-section-start</code> will be left-aligned and <code>md-toolbar-section-end</code> right-aligned.</p>

    <CodeExample title="Rows, Title and Icons" e:_example="_examples.contentActions" />

    <ApiItem title="Elements">
      <p slot-pass:default>The following classes creates parts of a toolbar:</p>

      <ApiTable e:headings="_api.elements.classes.headings" e:props="_api.elements.classes.props" slot-pass:classes />
    </ApiItem>
  </div>
</PageContainer>