<div>
  <md-dialog-alert
    e:active="first"
    on:update.active="first = args[0]"
    _t:content="您的文章已被删除。"
    _t:confirmText="漂亮！"
  />

  <md-dialog-alert
    e:active="second"
    on:update.active="second = args[0]"
    _t:title="提交成功！"
    _t:content="您的文章 <strong>你好世界</strong> 已经创建成功！"
  />
  <md-button class="md-accent md-raised" on:click="first = true">Alert</md-button>
  <md-button class="md-primary md-raised" on:click="second = true">Alert</md-button>
  <md-button class="md-primary md-raised" on:click="show">Alert by static method</md-button>
</div>