<div>
  <md-dialog-confirm
    e:active="active"
    _t:title="确认要使用谷歌的定位服务？"
    _t:content="使用谷歌定位服务意味着，应用在被使用或处于后台时，都会向谷歌发送<strong>匿名</strong>位置数据。"
    _t:confirmText="同意"
    _t:cancelText="拒绝"
    on:cancel="active=false;onCancel();"
    on:confirm="active=false;onConfirm();"
  />

  <md-button class="md-primary md-raised" on:click="active = true">Confirm</md-button>
  <if e:expect="value">
  <span>Value: ${value}</span>  
  </if>
  <md-button class="md-primary md-raised" on:click="show">Confirm by static method</md-button>
</div>