<div>
  <md-dialog e:active="showDialog" on:update.active="showDialog = args[0]">
    <md-dialog-title>Preferences</md-dialog-title>

    <md-dialog-content>contents here.</md-dialog-content>

    <md-dialog-actions>
      <md-button class="md-primary" on:click="showDialog = false">Close</md-button>
      <md-button class="md-primary" on:click="showDialog = false">Save</md-button>
    </md-dialog-actions>
  </md-dialog>
  <md-button class="md-primary md-raised" on:click="showDialog = true">Show Dialog</md-button>
</div>