@import '../../_style/animation.scss';
@import '../../_style/shape/mixin.scss';

.md-button {
  display: inline-flex;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  transition: all $md-transition-default;
  cursor: pointer;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  border-radius: 20px;
  border: 0;
  outline: 0;

  &:has(.md-icon) {
    padding-left: 16px;
  }

  &:active {
    outline: none;
  }

  &.md-disabled,
  &[disabled] {
    pointer-events: none;
    box-shadow: none;
  }

  .md-icon {
    margin-right: 8px;
    font-size: 18px;
  }

  & + .md-button {
    margin-left: 8px;
  }

  &.md-loading {
    pointer-events: none;

    .md-spinner {
      margin-right: 12px;
      font-size: 14px;
    }

    .md-icon {
      display: none;
    }
  }
}

// .md-button.md-elevated {
//   color: var(--md-color-primary);
//   @include md-elevation(1);

//   &:hover,
//   &.md-hovered {
//     @include md-elevation(2);
//   }

//   &:active,
//   &.md-pressed {
//     @include md-elevation(1);
//   }
// }

// .md-button.md-filled,
// .md-button.md-filled-tonal {
//   &:hover,
//   &.md-hovered {
//     @include md-elevation(1);
//   }

//   &:active,
//   &.md-pressed {
//     @include md-elevation(0);
//   }
// }

.md-button.md-outlined {
  color: var(--md-color-primary);
  border: 1px solid var(--md-color-outline);

  &[disabled],
  .md-disabled {
    border-color: rgb(var(--md-on-surface-rgb) / 12%);
    background-color: transparent;
  }
}

.md-button.md-text {
  color: var(--md-color-primary);
  background-color: transparent !important;

  &[disabled],
  .md-disabled {
    background-color: transparent !important;
  }
}
