.md-button-content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;

  > .md-icon:not(:only-child),
  > .md-spinner:not(:only-child) {
    font-size: 1.2em;
    margin-right: 6px;
  }

  > .md-icon:only-child,
  > .md-spinner:only-child {
    font-size: 24px;
  }
}
