.md-card {
  border-radius: 12px;

  // &.md-elevated {
  //   @include md-elevation(1);

  //   &.md-interaction {
  //     &:hover {
  //       @include md-elevation(2);
  //     }

  //     &:active {
  //       @include md-elevation(1);
  //     }

  //     &.md-disabled {
  //       @include md-elevation(0);
  //     }
  //   }
  // }

  // &.md-filled {
  //   &.md-interaction {
  //     &:hover {
  //       @include md-elevation(1);
  //     }

  //     &:active,
  //     &.md-disabled {
  //       @include md-elevation(0);
  //     }
  //   }
  // }

  &.md-outlined {
    border: 1px solid var(--md-color-outline);

    &.md-disabled {
      border-color: rgb(var(--md-color-outline-rgb) / 12%);
    }
  }
}

.md-card.md-common {
  display: flex;
  flex-direction: column;

  > .md-header {
    padding: 12px 16px;
    min-height: 72px;
  }

  > .md-main {
    flex: 1;
  }

  > .md-footer {
    min-height: 72px;
    padding: 16px;
  }
}

.md-card.md-simple {
  height: 80px;
}
