<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="气泡确认框（Popconfirm）">
  <div class="page-container-section">
    <p>目标元素的操作需要用户进一步的确认时，在目标元素附近弹出浮层提示，询问用户。</p>
    <p>和 confirm 弹出的全屏居中模态对话框相比，交互形式更轻量。</p>
  </div>

  <div class="page-container-section">
    <h2><_t>气泡确认框（Popconfirm）</_t></h2>
    <CodeExample title="Popconfirm" e:example="_examples.simple" />

    <ApiItem title="API - md-popconfirm">
      <NoteBlock tip slot-pass:default>
        <_t>Popover 组件的所有 API 也可用于 Popconfirm 组件。但部分属性的默认值不同。</_t>
      </NoteBlock>
      <ApiTable e:headings="_api.props.headings" e:props="_api.props.props" slot-pass:props />
      <ApiTable e:headings="_api.events.headings" e:props="_api.events.props" slot-pass:events />
    </ApiItem>
  </div>
</PageContainer>