@import '../animation/variables';

.md-ripple {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 6;
  overflow: hidden;
  -webkit-mask-image: radial-gradient(circle, #fff 100%, #000 100%);
}
