{
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": ["import"],
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "import/order": "error",
    "no-console": "error",
    "prettier/prettier": "error"
  },
  "overrides": [{
    "files": ["site/app/**/*.js"],
    "rules": {
      "no-console": "off",
      "import/no-unresolved": "off"
    }
  }]
}