{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss"
  ],
  "rules": {
    "no-descending-specificity": null,
    "string-quotes": "single",
    "value-keyword-case": null
  }
}