<div class="md-layout md-gutter">
  <div class="md-layout-item">
    <md-field>
      <label for="movies">Movies</label>
      <md-select e:value="selectedMovies" on:change="onChange" name="movies" id="movies" multiple>
        <md-option value="fight-club">Fight Club</md-option>
        <md-option value="godfather">Godfather</md-option>
        <md-option value="godfather-ii">Godfather II</md-option>
        <md-option value="godfather-iii">Godfather III</md-option>
        <md-option value="godfellas">Godfellas</md-option>
        <md-option value="pulp-fiction">Pulp Fiction</md-option>
        <md-option value="scarface">Scarface</md-option>
      </md-select>
    </md-field>

    <div>
      <strong>Selected movies:</strong>
      ${ selectedMoviesDisplay }
    </div>
  </div>
</div>