<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="头像">
  <div class="page-container-section">
    <p><_t>
      头像（Avatar）可以用来代表人物。当与特定徽标一起使用时，也可以用来代表品牌。当没有要显示的图像时，它们也可以用作占位符，例如，在还没有图片的联系人上显示姓名的首字母。
    </_t></p>
  </div>

  <div class="page-container-section">
    <h2><_t>图片</_t></h2>

    <p><_t>
      头像可以用来展示单个图片，也可以和 <code>&lt;md-icon&gt;</code> 搭配用于展示图标。
    </_t></p>
    <CodeExample title="Default" e:example="_examples.regular" />
    <ApiItem title="API - md-avatar">

      <ApiTable e:headings="api.regular.headings" e:props="api.regular.props" slot-pass:classes />
    </ApiItem>
  </div>

  <div class="page-container-section">
    <h2><_t>占位字符</_t></h2>

    <p><_t>
      假设您要显示联系人列表，但是其中一些在数据库中没有图片。可以使用联系人姓名的首字母作为占位符，最多支持 2 个字符：
    </_t></p>
    <CodeExample title="Placeholder" e:example="_examples.placeholder" />
  </div>

  <div class="page-container-section">
    <h2><_t>多种大小</_t></h2>

    <p><_t>
      可以指定三种不同的大小：常规、小或大。默认情况下，头像具有常规大小。
    </_t></p>
    <CodeExample title="Sizes" e:example="_examples.sizes" />
    <ApiItem title="API - md-avatar">

      <ApiTable e:headings="api.sizes.headings" e:props="api.sizes.props" slot-pass:classes />
    </ApiItem>
  </div>
</PageContainer>