.md-surface {
  background-color: var(--md-color-surface);
  color: var(--md-color-on-surface);

  &.md-variant {
    color: var(--md-color-on-surface-variant);
  }

  @for $i from 1 through 5 {
    &.md-elevation-#{$i} {
      background-color: var(--md-color-surface-#{$i});

      &.md-shadow {
        box-shadow: var(--md-shadow-elevation-#{$i});
      }
    }
  }
}
