<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="菜单（Menu）">
  <div class="page-container-section">
    <p>Menus appear upon interaction with a button, action, or other control. They usually display a list of choices, with one choice per line, but can also show a rich content.</p>
  </div>
  <div class="page-container-section">
    <h2>Placement</h2>
    <p>Default placement is <code>bottom</code>, support all <code>popper.js</code> placements</p>
    <CodeExample title="Placement" e:example="_examples.placement" />
  </div>

  <div class="page-container-section">
    <h2>Offset</h2>

    <p>By default menu will have offset relative to trigger. If it is not what we want, we can simple set <code>offset="0"</code> or set some custom offset. </p>
    <CodeExample title="Offset" e:example="_examples.offset" />
  </div>
  <div class="page-container-section">
    <h2>Sizes</h2>

    <p><code>md-menu</code> has 4 different sizes and an auto mode:</p>
    <CodeExample title="5 possible sizes" e:example="_examples.size" />
    <NoteBlock>The max-width of a menu is 280px.</NoteBlock>
  </div>

  <div class="page-container-section">
    <h2>AutoClose</h2>

    <p><code>md-menu</code> can be auto closed on click or select:</p>
    <CodeExample title="Auto close menu on events" e:example="_examples.close"/>
  </div>

  <div class="page-container-section">
    <h2>Rich Content and Icon Alignment</h2>

    <p>Sometimes you may need to toggle your menu dynamically. You can also show arbitrary content inside a <code>md-menu-content</code>, like this card example:</p>
    <CodeExample title="Open a menu programatically" e:example="_examples.multiple" />
    <NoteBlock tip>A <code>md-menu</code> with items that have icons aligns perfectly with <code>md-icon-button</code>.</NoteBlock>

    <ApiItem title="API - md-menu">
      <_slot slot-pass:default>
        <p>The following options can be used with any menu:</p>
      </_slot>
      <ApiTable e:headings="_api.props.headings" e:props="_api.props.props" slot-pass:props />
      <ApiTable e:headings="_api.events.headings" e:props="_api.events.props" slot-pass:events />
    </ApiItem>
  </div>
</PageContainer>