<!--
  import { ButtonContent } from './content';
-->
<button
  class="md-button${className ? ' ' + className : ''}${!ripple ? ' md-ripple-off' : ''}${hasFocus ? ' md-focused' : ''}"
  e:disabled="disabled"
  e:type="type || 'button'"
  on:touchstart="touchstart($event)"
  on:touchmove="touchmove($event)"
  on:mousedown="mousedown($event)"
>
  <ButtonContent
    e:ripple="ripple"
    e:disabled="disabled"
    e:rippleActive="rippleActive"
    on:update.rippleActive="rippleActive = args[0]"
  >
    <_slot/>
  </ButtonContent>
</button>