@import '../animation/variables';
@import '../../style/elevation/mixins.scss';

.md-chips.md-field {
  padding-top: 12px;
  flex-wrap: wrap;

  &.md-has-value {
    label {
      top: -6px;
    }
  }

  .md-chip {
    margin-bottom: 4px;

    &:last-of-type {
      margin-right: 8px;
    }
  }

  .md-input {
    min-width: 128px;
  }
}

$md-chips-height: 32px;

.md-chip {
  height: $md-chips-height;
  padding: 0 12px;
  display: inline-block;
  cursor: default;
  border-radius: $md-chips-height;
  transition: 0.3s $md-transition-stand-timing;
  transition-property: background-color, color, opacity, transform, box-shadow;
  will-change: background-color, color, opacity, transform, box-shadow;
  font-size: 13px;
  line-height: $md-chips-height;
  vertical-align: middle;
  white-space: nowrap;

  > .md-state-overlay {
    border-radius: $md-chips-height;
  }

  &:focus {
    outline: none;
  }

  // &.md-clickable,
  // &.md-deletable {
  //   &:not(.md-disabled):active {
  //     @include md-elevation(3);
  //   }
  // }

  // &.md-focused {
  //   @include md-elevation(3);
  // }

  &.md-clickable {
    padding: 0;
    cursor: pointer;

    > .md-ripple {
      padding: 0 12px;
    }
  }

  &.md-deletable {
    padding-right: 32px;
    position: relative;

    &.md-clickable {
      padding-right: 0;

      > .md-ripple {
        padding-right: 32px;
      }
    }
  }

  &.md-disabled {
    cursor: default;
  }

  + .md-chip {
    margin-left: 4px;
  }

  .md-button.md-input-action {
    width: 18px;
    min-width: 18px;
    height: 18px;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 7px;
    z-index: 11;
    transform: translate3d(0, -50%, 0);
    transition-duration: 0.3s;
    transition-timing-function: $md-transition-stand-timing;
    font-size: 18px;

    .md-ripple {
      padding: 0;
    }

    .md-button-content {
      height: 14px;
    }

    .md-icon {
      font-size: 14px;
      vertical-align: top;
    }
  }
}

@import './theme.scss';
