.md-chips {
  .md-clear {
    background-color: var(--md-outline);
    color: var(--md-primary);
  }
}

.md-chip {
  background-color: var(--md-outline);

  .md-input-action {
    background-color: var(--md-on-surface-medium);

    .md-icon {
      color: var(--md-on-primary);
    }
  }

  &.md-primary {
    background-color: var(--md-primary);
    color: var(--md-on-primary);
  }

  &.md-accent,
  &.md-duplicated {
    background-color: var(--md-secondary);
    color: var(--md-on-secondary);
  }
}
