<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="表格（Table）">
  
  <div class="page-container-section">
    <h2>Basic Table</h2>

    <CodeExample title="Basic" e:example="_examples.basic" />
  </div>
  <div class="page-container-section">
    <h2>Table with toolbar within card</h2>

    <CodeExample title="Card" e:example="_examples.card" />
  </div>
  <div class="page-container-section">
    <h2>Custom template</h2>

    <CodeExample title="Template" e:example="_examples.template" />
  </div>
  <div class="page-container-section">
    <h2>Selection</h2>

    <CodeExample title="Selection" e:example="_examples.selection" />
  </div>
  <div class="page-container-section">
    <h2>Row class</h2>

    <CodeExample title="Row class" e:example="_examples.rowClass" />
  </div>
  <div class="page-container-section">
    <h2>Pagination</h2>

    <CodeExample title="Pagination" e:example="_examples.pagination" />
  </div>
</PageContainer>