@import '../animation/variables';
@import '../../style/layout/mixins';

.md-datepicker-overlay {
  opacity: 0;

  @include md-layout-xsmall {
    opacity: 1;
  }
}

.md-datepicker {
  &.md-native {
    label {
      top: 0 !important;
    }
  }

  .md-date-icon {
    cursor: pointer;
  }

  input[type='date']::-webkit-clear-button,
  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
  }
}
