.md-datepicker-dialog {
  .md-datepicker-header {
    background-color: var(--md-primary);
    color: var(--md-on-primary);
  }

  .md-datepicker-week {
    color: var(--md-on-surface-medium);
  }

  .md-datepicker-disabled {
    color: var(--md-on-surface-disabled);
  }

  .md-datepicker-today {
    color: var(--md-primary);
  }

  .md-datepicker-day-button,
  .md-datepicker-month-button,
  .md-datepicker-year-button {
    &:hover {
      background-color: var(--md-outline);
    }
  }

  .md-datepicker-day-button {
    &.md-datepicker-selected {
      background-color: var(--md-primary);
      color: var(--md-on-primary);
    }
  }

  .md-datepicker-month-button,
  .md-datepicker-year-button {
    &.md-datepicker-selected {
      color: var(--md-primary);
    }
  }

  .md-datepicker-year-selector {
    border-bottom-color: var(--md-outline);
  }
}
