<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="抽屉">
  <div class="page-container-section">
    <p><_t>
      导航抽屉从左侧或右侧滑入，并包含应用程序的导航目标。尽管可以接受任何类型的内容，但通常与内部列表一起使用。
    </_t></p>
  </div>
  <div class="page-container-section">
    <h2><_t>覆盖在上方</_t></h2>

    <CodeExample title="Also works on the right side" e:example="_examples.over" />
  </div>

  <div class="page-container-section">
    <h2><_t>从侧边推出</_t></h2>

    <CodeExample title="Push content" e:example="_examples.push" />
  </div>

  <ApiItem title="API - md-drawer">
    <ApiTable e:headings="api.drawer.props.headings" e:props="api.drawer.props.props" slot-pass:props />
    <ApiTable e:headings="api.drawer.events.headings" e:props="api.drawer.events.props" slot-pass:events />
  </ApiItem>

  <ApiItem title="API - md-drawer-container">
    <ApiTable e:headings="api.container.props.headings" e:props="api.container.props.props" slot-pass:props />
  </ApiItem>
</PageContainer>