<p>
  <div>
    <md-datepicker
      e:value="selectedDate"
      on:confirm="onChange"
    />
  </div>
  <div>
    <md-datepicker
      e:value="selectedDate"
      on:confirm="onChange"
      e:showDefaultPlaceholder="false"
    />
  </div>
  <div>
    <md-datepicker
      e:value="selectedDate"
      on:confirm="onChange"
      _t:placeholder="请选择日期"
    />
  </div>
</p>
<p>
  <div>
    <md-datepicker
      e:value="selectedDate"
      on:confirm="onChange"
    >
      <label><_t>选择日期</_t></label>
    </md-datepicker>
  </div>
  <div>
    <md-datepicker
      e:value="selectedDate"
      on:confirm="onChange"
      e:showDefaultPlaceholder="false"
    >
      <label><_t>选择日期</_t></label>
    </md-datepicker>
  </div>
  <div>
    <md-datepicker
      e:value="selectedDate"
      on:confirm="onChange"
      _t:placeholder="请选择日期"
    >
      <label><_t>选择日期</_t></label>
    </md-datepicker>
  </div>
</p>

