<p>
  <div>
    <md-datepicker
      e:value="selectedDate"
      on:confirm="onChange"
    />
  </div>
  <div>
    <md-datepicker
      e:value="selectedDate"
      on:confirm="onChange"
      e:showDefaultPlaceholder="false"
    />
  </div>
  <div>
    <md-datepicker
      e:value="selectedDate"
      on:confirm="onChange"
      placeholder="Please choose date"
    />
  </div>
</p>
<p>
  <div>
    <md-datepicker
      e:value="selectedDate"
      on:confirm="onChange"
    >
      <label>Select date</label>
    </md-datepicker>
  </div>
  <div>
    <md-datepicker
      e:value="selectedDate"
      on:confirm="onChange"
      e:showDefaultPlaceholder="false"
    >
      <label>Select date</label>
    </md-datepicker>
  </div>
  <div>
    <md-datepicker
      e:value="selectedDate"
      on:confirm="onChange"
      placeholder="Please choose date"
    >
      <label>Select date</label>
    </md-datepicker>
  </div>
</p>

