<div>
  <md-menu size="big" e:closeOnOutsideClick="false" placement="top-start" e:active="toggleCard" on:update.active="toggleCard = args[0]">
    <md-button class="md-icon-button" slot-pass:default>
      <md-icon-contacts/>
    </md-button>

    <_slot slot-pass:content>
      <div class="author-card">
        <md-avatar class="md-large">
          <img src="/assets/examples/avatar.jpg" alt="Marcos Moura"/>
        </md-avatar>

        <div class="author-card-info">
          <span>Marcos Moura</span>
          <div class="author-card-links">
            <a href="https://linkedin.com/in/marcosvmmoura" target="_blank" rel="noopener">Linkedin</a>
            <a href="https://github.com/marcosmoura" target="_blank" rel="noopener">GitHub</a>
          </div>
        </div>
      </div>
    </_slot>
  </md-menu>

  <md-menu>
    <md-button class="md-icon-button" slot-pass:default>
      <md-icon-phone/>
    </md-button>

    <_slot slot-pass:content>
      <md-menu-item>
        <md-icon-phone/>
        <span>My Item 1</span>
      </md-menu-item>

      <md-menu-item>
        <md-icon-phone/>
        <span>My Item 2</span>
      </md-menu-item>

      <md-menu-item>
        <md-icon-phone/>
        <span>My Item 3</span>
      </md-menu-item>
    </_slot>
  </md-menu>

  <md-menu size="big" placement="bottom-end">
    <md-button class="md-icon-button" slot-pass:default>
      <md-icon-near_me/>
    </md-button>

    <_slot slot-pass:content>
      <md-menu-item>
        <span>Find on map</span>
        <md-icon-near_me/>
      </md-menu-item>

      <md-menu-item>
        <span>Call</span>
        <md-icon-phone/>
      </md-menu-item>
    </_slot>
  </md-menu>

  <md-button class="md-primary md-raised toggle" on:click="toggle">Toggle Contact</md-button>
</div>