<div>
  <md-menu>
    <md-button slot-pass:default>Bottom Start</md-button>

    <_slot slot-pass:content>
      <md-menu-item>My Item 1</md-menu-item>
      <md-menu-item>My Item 2</md-menu-item>
      <md-menu-item>My Item 3</md-menu-item>
    </_slot>
  </md-menu>

  <md-menu placement="bottom-end" size="huge">
    <md-button slot-pass:default>Bottom End</md-button>

    <_slot slot-pass:content>
      <md-menu-item>My Item 1</md-menu-item>
      <md-menu-item>My Item 2</md-menu-item>
      <md-menu-item>My Item 3</md-menu-item>
    </_slot>
  </md-menu>

  <md-menu placement="top-start">
    <md-button slot-pass:default>Top Start</md-button>

    <_slot slot-pass:content>
      <md-menu-item>My Item 1</md-menu-item>
      <md-menu-item>My Item 2</md-menu-item>
      <md-menu-item>My Item 3</md-menu-item>
    </_slot>
  </md-menu>

  <md-menu placement="top-end">
    <md-button slot-pass:default>Top End</md-button>

    <_slot slot-pass:content>
      <md-menu-item>My Item 1</md-menu-item>
      <md-menu-item>My Item 2</md-menu-item>
      <md-menu-item>My Item 3</md-menu-item>
    </_slot>
  </md-menu>

  <md-menu placement="right" size="huge">
    <md-button slot-pass:default>Right</md-button>

    <_slot slot-pass:content>
      <md-menu-item>My Item 1</md-menu-item>
      <md-menu-item>My Item 2</md-menu-item>
      <md-menu-item>My Item 3</md-menu-item>
    </_slot>
  </md-menu>
</div>