<div>
  <md-menu>
    <md-button slot-pass:default>Small</md-button>

    <_slot slot-pass:content>
      <md-menu-item>My Item 1</md-menu-item>
      <md-menu-item>My Item 2</md-menu-item>
      <md-menu-item>My Item 3</md-menu-item>
    </_slot>
  </md-menu>
  <md-menu size="medium">
    <md-button slot-pass:default>Medium</md-button>

    <_slot slot-pass:content>
      <md-menu-item>My Item 1</md-menu-item>
      <md-menu-item>My Item 2</md-menu-item>
      <md-menu-item>My Item 3</md-menu-item>
    </_slot>
  </md-menu>
  <md-menu size="big">
    <md-button slot-pass:default>Big</md-button>

    <_slot slot-pass:content>
      <md-menu-item>My Item 1</md-menu-item>
      <md-menu-item>My Item 2</md-menu-item>
      <md-menu-item>My Item 3</md-menu-item>
    </_slot>
  </md-menu>
  <md-menu size="huge">
    <md-button slot-pass:default>Huge</md-button>

    <_slot slot-pass:content>
      <md-menu-item>My Item 1</md-menu-item>
      <md-menu-item>My Item 2</md-menu-item>
      <md-menu-item>My Item 3</md-menu-item>
    </_slot>
  </md-menu>
  <md-menu size="auto">
    <md-button slot-pass:default>Auto</md-button>

    <_slot slot-pass:content>
      <md-menu-item>My Item 1</md-menu-item>
      <md-menu-item>This content is long enough</md-menu-item>
      <md-menu-item>My Item 3</md-menu-item>
    </_slot>
  </md-menu>
  
</div>