<div>
  <div>
    <small>Regular</small>
    <md-button class="md-fab">
      <md-icon-menu/>
    </md-button>
    <md-button class="md-fab md-primary">
      <md-icon-add/>
    </md-button>
    <md-button class="md-fab md-plain">
      <md-icon-edit/>
    </md-button>
  </div>

  <div>
    <small>Mini/Dense</small>
    <md-button class="md-fab md-mini">
      <md-icon-menu/>
    </md-button>
    <md-button class="md-fab md-mini md-primary">
      <md-icon-add/>
    </md-button>
    <md-button class="md-fab md-mini md-plain">
      <md-icon-edit/>
    </md-button>
  </div>
</div>