<div>
  <div>
    <small>Flat</small>
    <md-button class="md-icon-button">
      <md-icon-3d_rotation/>
    </md-button>

    <md-button class="md-icon-button md-primary">
      <md-icon-menu/>
    </md-button>

    <md-button class="md-icon-button md-accent">
      <md-icon-thumb_up/>
    </md-button>

    <md-button class="md-icon-button" disabled>
      <md-icon-add/>
    </md-button>
  </div>

  <div>
    <small>Raised</small>
    <md-button class="md-icon-button md-raised">
      <md-icon-home/>
    </md-button>

    <md-button class="md-icon-button md-raised md-primary">
      <md-icon-menu/>
    </md-button>

    <md-button class="md-icon-button md-raised md-accent">
      <md-icon-thumb_up/>
    </md-button>

    <md-button class="md-icon-button md-raised" disabled>
      <md-icon-add/>
    </md-button>
  </div>

  <div>
    <small>Dense</small>
    <md-button class="md-icon-button md-dense md-primary">
      <md-icon-person/>
    </md-button>

    <md-button class="md-icon-button md-dense md-raised md-primary">
      <md-icon-cached/>
    </md-button>
  </div>
</div>
