<div>
  <div>
    <small>Buttons</small>
    <md-button>Default</md-button>
    <md-button class="md-primary">Primary</md-button>
    <md-button class="md-accent">Accent</md-button>
    <md-button disabled>Disabled</md-button>
  </div>

  <div>
    <small>Links</small>
    <md-button e:href="pageUrl">Default</md-button>
    <md-button e:href="pageUrl" class="md-primary">Primary</md-button>
    <md-button e:href="pageUrl" class="md-accent">Accent</md-button>
    <md-button e:href="pageUrl" disabled>Disabled</md-button>
    <md-button href="https://www.google.com" target="_blank">Open in new tab</md-button>
  </div>
</div>