<div>
  <div>
    <small>Flat</small>
    <md-button on:click="onClick">
      <md-icon-home/>
      <span>Default</span>
    </md-button>
    <md-button e:ripple="false">Ripple Off</md-button>
    <md-button on:click="onClick" class="md-primary">Primary</md-button>
    <md-button class="md-accent">Accent</md-button>
    <md-button disabled>Disabled</md-button>
  </div>

  <div>
    <small>Raised</small>
    <md-button class="md-raised">
      <span>Default</span>
    </md-button>
    <md-button class="md-raised" e:ripple="false">Ripple Off</md-button>
    <md-button on:click="load" e:disabled="loading" class="md-raised md-primary">Primary</md-button>
    <md-button class="md-raised">
      <md-icon-home/>
    </md-button>
    <md-button class="md-raised md-accent">Accent</md-button>
    <md-button class="md-raised" disabled>Disabled</md-button>
  </div>

  <div>
    <small>Dense</small>
    <md-button class="md-dense md-primary">Flat</md-button>
    <md-button class="md-dense md-raised md-primary">Raised</md-button>
  </div>
</div>