<div style="background-color: var(--demo-states-background); padding: 12px;">
  <div>
    <small>Basic Buttons</small>
    <md-button on:click="onClick">
      <md-icon-home/>
      <span>Default</span>
    </md-button>
    <md-button e:ripple="false">Ripple Off</md-button>
    <md-button on:click="onClick" class="md-primary">Primary</md-button>
    <md-button class="md-accent">Accent</md-button>
    <md-button disabled>Disabled</md-button>
    <md-button class="md-primary" disabled>Primary Disabled</md-button>
  </div>

  <div>
    <small>Raised Buttons</small>
    <md-button class="md-raised">
      <md-icon-home/>
      <span>Default</span>
    </md-button>
    <md-button class="md-raised" e:ripple="false">Ripple Off</md-button>
    <md-button on:click="load" e:disabled="loading" class="md-raised md-primary">Primary</md-button>
    <md-button class="md-raised md-accent">Accent</md-button>
    <md-button class="md-raised" disabled>Disabled</md-button>
    <md-button class="md-raised md-primary" disabled>Primary Disabled</md-button>
  </div>
  <div>
    <small>Flat Buttons</small>
    <md-button class="md-flat">
      <md-icon-home/>
      <span>Default</span>
    </md-button>
    <md-button class="md-flat" e:ripple="false">Ripple Off</md-button>
    <md-button on:click="load" e:disabled="loading" class="md-flat md-primary">Primary</md-button>
    <md-button class="md-flat md-accent">Accent</md-button>
    <md-button class="md-flat" disabled>Disabled</md-button>
    <md-button class="md-flat md-primary" disabled>Primary Disabled</md-button>
  </div>
  <div>
    <small>Stroked Buttons</small>
    <md-button class="md-stroked">
      <md-icon-home/>
      <span>Default</span>
    </md-button>
    <md-button class="md-stroked" e:ripple="false">Ripple Off</md-button>
    <md-button on:click="load" e:disabled="loading" class="md-stroked md-primary">Primary</md-button>
    <md-button class="md-stroked md-accent">Accent</md-button>
    <md-button class="md-stroked" disabled>Disabled</md-button>
    <md-button class="md-stroked md-primary" disabled>Primary Disabled</md-button>
  </div>
  
  <div>
    <small>Dense</small>
    <md-button class="md-dense md-primary">Flat</md-button>
    <md-button class="md-dense md-raised md-primary">Raised</md-button>
  </div>
</div>