<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="下拉选择（Select）">
    <div class="page-container-section">
      <p>A select picks between multiple options. The select displays the current state and a down arrow. They can have single selection or multiple.</p>
      <NoteBlock tip>Select component mimics the HTML5 <code>&lt;select&gt;</code> attributes. This means that you can add attributes like <code>required</code> and <code>multiple</code> and it will react to them to give the best experience.</NoteBlock>
    </div>

    <div class="page-container-section">
      <h2>Select</h2>

      <p>Jinge Material selects works along with <code>md-option</code> component to provide the possible selection options. You should use it inside the <code>md-field</code> component The selection is will always react to changes on the <code>value</code> prop:</p>
      <CodeExample title="Single selection" e:example="_examples.basic" />

      <p>Selects also work with multiple selection with a <code>value</code> as an <code>Array</code>. </p>
      <CodeExample title="Multiple selection" e:example="_examples.multiple" />

      <p>Selects can have groups to make easy to distinguish different data sets:</p>
      <CodeExample title="Dense" e:example="_examples.dense" />

      <p>Selects can have groups to make easy to distinguish different data sets:</p>
      <CodeExample title="Optgroup" e:example="_examples.groups" />

      <p>It is really easy to disable a select, option and even an optgroup. This will prevent them from being selected. Just pass a <code>disabled</code> prop to the desired component:</p>
      <CodeExample title="Disabled" e:example="_examples.disabled" />

      <ApiItem title="API - md-select">
        <ApiTable e:headings="_api.select.props.headings" e:props="_api.select.props.props" slot-pass:props />
        <ApiTable e:headings="_api.select.events.headings" e:props="_api.select.events.props" slot-pass:events />
      </ApiItem>

      <ApiItem title="API - md-option">
        <ApiTable e:headings="_api.option.headings" e:props="_api.option.props" slot-pass:props />
      </ApiItem>

      <ApiItem title="API - md-optgroup">
        <ApiTable e:headings="_api.optgroup.headings" e:props="_api.optgroup.props" slot-pass:props />
      </ApiItem>
    </div>
</PageContainer>