<div>
  Left aligned (default)
  <md-tabs>
    <md-tab id="tab-home" label="Home"></md-tab>
    <md-tab id="tab-pages" label="Pages"></md-tab>
    <md-tab id="tab-posts" label="Posts"></md-tab>
    <md-tab id="tab-favorites" label="Favorites"></md-tab>
  </md-tabs>

  Centered
  <md-tabs class="md-primary" alignment="centered">
    <md-tab id="tab-home" label="Home"></md-tab>
    <md-tab id="tab-pages" label="Pages"></md-tab>
    <md-tab id="tab-posts" label="Posts"></md-tab>
    <md-tab id="tab-favorites" label="Favorites"></md-tab>
  </md-tabs>

  Right aligned
  <md-tabs class="md-accent" alignment="right">
    <md-tab id="tab-home" label="Home"></md-tab>
    <md-tab id="tab-pages" label="Pages"></md-tab>
    <md-tab id="tab-posts" label="Posts"></md-tab>
    <md-tab id="tab-favorites" label="Favorites"></md-tab>
  </md-tabs>

  Fixed
  <md-tabs class="md-transparent" alignment="fixed">
    <md-tab id="tab-home" label="Home"></md-tab>
    <md-tab id="tab-pages" label="Pages"></md-tab>
    <md-tab id="tab-posts" label="Posts"></md-tab>
    <md-tab id="tab-favorites" label="Favorites"></md-tab>
  </md-tabs>
</div>