<div>
  <md-tabs>
    <md-tab id="tab-home" label="Home" e:to="{name: 'components.tabs', params: {module: null}}">
      Home Tab
    </md-tab>

    <md-tab id="tab-pages" label="Pages" e:to="{name: 'components.tabs', params: {module: 'pages'}}">
      Pages tab
      <p>Unde provident nemo reiciendis officia, possimus repellendus. Facere dignissimos dicta quis rem. Aliquam aspernatur dolor atque nisi id deserunt laudantium quam repellat.</p>
    </md-tab>

    <md-tab id="tab-posts" label="Posts" e:to="{name: 'components.tabs', params: {module: 'posts'}}">
      Posts tab
      <p>Qui, voluptas repellat impedit ducimus earum at ad architecto consectetur perferendis aspernatur iste amet ex tempora animi, illum tenetur quae assumenda iusto.</p>
    </md-tab>

    <md-tab id="tab-favorites" label="Favorites" e:to="{name: 'components.tabs', params: {module: 'favorites'}}">
      Favorites tab
      <p>Maiores, dolorum. Beatae, optio tempore fuga odit aperiam velit, consequuntur magni inventore sapiente alias sequi odio qui harum dolorem sunt quasi corporis.</p>
    </md-tab>
  </md-tabs>
</div>