<div>
  <md-tabs>
    <_slot slot-pass:tab vm-use:tab="tab">
      <switch e:test="tab.label">
        <md-icon-home slot-pass:Home/>
        <md-icon-pages slot-pass:Pages/>
        <md-icon src="/assets/icon/whatshot.svg" slot-pass:Posts/>
        <md-icon-favorite slot-pass:Favorites/>
      </switch>
      <span>${tab.label}</span>
    </_slot>
    <_slot slot-pass:default>
      <md-tab class="md-icon-label" label="Home"></md-tab>
      <md-tab class="md-icon-label" label="Pages"></md-tab>
      <md-tab class="md-icon-label" label="Posts" md-icon="/assets/icon-whatshot.svg"></md-tab>
      <md-tab class="md-icon-label" label="Favorites"></md-tab>
    </_slot>
  </md-tabs>

  <md-tabs class="md-primary" alignment="centered">
    <_slot slot-pass:tab vm-use:tab="tab">
    <switch e:test="tab.label">
      <md-icon-home slot-pass:Home/>
      <md-icon-pages slot-pass:Pages/>
      <md-icon src="/assets/icon/whatshot.svg" slot-pass:Posts/>
      <md-icon-favorite slot-pass:Favorites/>
    </switch>
    </_slot>
    <_slot slot-pass:default>
      <md-tab label="Home"></md-tab>
      <md-tab label="Pages"></md-tab>
      <md-tab label="Posts" md-icon="/assets/icon-whatshot.svg"></md-tab>
      <md-tab label="Favorites"></md-tab>
    </_slot>
  </md-tabs>
</div>