<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="布局">
  <div class="page-container-section">
    <p><_t>
      Material Design 中的响应式布局可适应任何可能的屏幕尺寸，该布局方案包括一个灵活的网格系统，以确保各个布局之间的一致性。
    </_t></p>
  </div>

  <div class="page-container-section">
    <h2><_t>断点</_t></h2>
    <p><_t>
      使用断点来控制响应式布局：
    </_t></p>
    <ApiTable e:headings="api.breakpoints.headings" e:props="api.breakpoints.props" slot="props" />
  </div>

  <div class="page-container-section">
    <h2><_t>列布局</_t></h2>

    <p><_t>
      列布局系统通过 css 的 flexbox 实现，从而提供了灵活而便捷的 API。
    </_t></p>
    <p><_t>
      使用布局系统，需要先创建一个 <code>md-layout</code> 的父元素，然后在其下创建任意数量的 <code>md-layout-item</code> 列表：
    </_t></p>
    <CodeExample title="Columns" e:example="_examples.columns" />
  </div>

  <div class="page-container-section">
    <p><_t>
      默认情况下，布局项之间没有间隙。可以设置为基于屏幕宽度和断点自动计算元素之间的间距：
    </_t></p>
    <ApiTable e:headings="api.gutter.headings" e:props="api.gutter.props" slot="props" />
    <p><_t>
      试试调整浏览器的大小并观察布局变化：
    </_t></p>
    <CodeExample title="Gutter" e:example="_examples.gutter" />
  </div>

  <div class="page-container-section">
    <p><_t>
      布局列也可用于嵌套布局：
    </_t></p>
    <CodeExample title="Nested columns" e:example="_examples.nested" />
  </div>

  <div class="page-container-section">
    <p><_t>
      可以指定 <code>md-layout</code> 使用不同的对齐方式，并可以对 <code>md-alignment-[horizontal]-[vertical]</code> 类进行水平和垂直对齐的各种组合，例如，<code>md-alignment-top-center</code>。对齐在父元素上起作用，它将更改所有子项的位置：
    </_t></p>
    <CodeExample title="Alignments" e:example="_examples.alignment" />
  </div>

  <div class="page-container-section">
    <p><_t>
      使用 <code>md-size-[amount]</code> 可以指定元素在布局中的大小，例如 <code>md-size-30</code>。其中，[amount] 的值可以是 33、66 或 5 的倍数。
    </_t></p>
    <p><_t>
      不是所有元素都必须指定布局大小。对于没有指定大小的元素，会自动计算其大小：
    </_t></p>
    <CodeExample title="Size" e:example="_examples.sizes" />
  </div>

  <div class="page-container-section">
    <p><_t>
      使用 <code>md-[breakpoint]-size-[amount]</code> 可以基于断点来更改布局大小。尝试调整浏览器的大小：
    </_t></p>
    <CodeExample title="Responsive" e:example="_examples.responsive" />
  </div>

  <div class="page-container-section">
    <p><_t>
      可以使用 <code>md-[breakpoint]-hide</code> 类来实现在较小屏幕上隐藏某个元素：
    </_t></p>
    <CodeExample title="Hide Elements" e:example="_examples.hide" />
  </div>

  <ApiItem title="API - md-layout">
    <p slot-pass:default><_t>
      以下类可以被应用到任何 HTML 元素上：
    </_t></p>

    <ApiTable e:headings="api.layout.headings" e:props="api.layout.props" slot-pass:classes />
  </ApiItem>

  <ApiItem title="API - md-layout-item">
    <p slot-pass:default><_t>
      以下类可以应用于任何<code>md-layout</code>的直接子元素：
    </_t></p>

    <ApiTable e:headings="api.item.headings" e:props="api.item.props" slot-pass:classes />
  </ApiItem>

  <ApiItem title="API - md-hide">
    <p slot-pass:default><_t>
      以下类可以被应用到任何 HTML 元素上：
    </_t></p>
    <ApiTable e:headings="api.hide.headings" e:props="api.hide.props" slot-pass:classes />
  </ApiItem>
</PageContainer>