<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="空提示">
  <div class="page-container-section">
    <p><_t>
      空状态的示例是不包含任何项目的列表，或者不显示任何结果的搜索。尽管这些状态并不常见，但应设计为防止用户混淆。
    </_t></p>
    <p><_t>
      最基本的空白状态显示非交互式图像和文本标语。 为此，您可以使用图标，标题和空状态描述。 空状态默认提供了不错的设计，但是您始终可以在 <code>md-empty-state</code> 之上创建自己的设计。
    </_t></p>
    <p><_t>
      空状态可以是基本状态或圆形状态。仅对台式机建议使用四舍五入的变体，因为它的大小是固定的，并且无法响应。
    </_t></p>
  </div>

  <div class="page-container-section">
    <h2><_t>空状态</_t></h2>

    <p><_t>
      可以在任何屏幕尺寸上使用默认的空状态。您可以将设计与图标，标签和说明结合使用，因为这些都是可选的。
    </_t></p>
    <CodeExample title="Default" e:example="_examples.basic" />

    <p><_t>
      圆角的空状态以清新的外观和漂亮的背景色来引起用户的注意。
    </_t></p>
    <CodeExample title="Rounded" e:example="_examples.rounded" />

    <p><_t>
      还可以将两种布局与原色或强调色结合使用，以匹配您的主题。
    </_t></p>
    <CodeExample title="Hue Colors" e:example="_examples.colors" />

    <ApiItem title="API - md-empty-state">
      <ApiTable e:headings="api.props.headings" e:props="api.props.props" slot-pass:props />
    </ApiItem>
  </div>
</PageContainer>