<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="图标">
  <div class="page-container-section">
    <p><_t>
      图标通过相对抽象的几何形状来在视觉上表达信息，包括核心思想、功能或主题等等。
    </_t></p>
    <p><_t>
      Material Design 的图标包含 5 种主题，每种主题下都有超过 1000 个图标，共计超过 5000 个图标。
      所有图标在 Jinge Material 中都可以使用，并且只会按需加载。图标资源位于 <code>dist/icons/</code> 目录。
    </_t></p>
  </div>
  <div class="page-container-section">
    <h2><_t>使用 Material 图标</_t></h2>
    <p><_t>
      通过 <code>md-icon-{THEME}-{ICON_ID}</code> 这个格式的组件别名可以使用 Material 官方的全部图标。
      其中，<code>{THEME}</code> 请替换为实际需要的主题。可用的主题包括 <code>baseline</code>、<code>outline</code>、<code>round</code>、<code>sharp</code> 和 <code>twotone</code>，
      依次对应 Material Desgin 官网上的 Filled, Outlined, Rounded, Sharp, Two-Tone 主题。
      同时，<code>{ICON_ID}</code> 请替换为实际的图标的 id，比如 <code>home</code>, <code>3d_rotation</code> 等，
      更多的图标 id 请在使用时直接参考 <a href="https://material.io/tools/icons" target="_blank">Material Desgin Icons</a>  官网。
    </_t></p>
    <p><_t>
      通常情况下，一个项目只会使用同一个主题的图标。因此，还可以直接使用 <code>md-icon-{ICON_ID}</code> 这个格式的组件别名来引用默认主题的图标组件。
      默认主题为 <code>baseline</code>，但可以在构建工具（比如 webpack）的配置中指定其它主题为默认主题。
    </_t></p>
    <CodeExample title="Material Icons" e:example="_examples.materialIcons" />
    <ApiItem title="API">
      <ApiTable e:headings="api.common.headings" e:props="api.common.props" slot-pass:props />
    </ApiItem>
  </div>
  <div class="page-container-section">
    <h2><_t>使用 Icon Font 图标</_t></h2>
    <p><_t>
      直接使用 <code>md-icon</code> 组件并搭配 <code>class</code> 属性，可以使用 Icon Font 图标库，比如 <a href="http://fontawesome.io/" target="_blank">Font Awesome</a>。
      但请注意，你需要自己引入相应的 Web Font 资源。参看下面的示例：
    </_t></p>
    <CodeExample title="Font Icon Icons" e:example="_examples.fontIcons" />
  </div>
  <div class="page-container-section">
    <h2><_t>加载 SVG</_t></h2>
    <p><_t>
      如果给 <code>md-icon</code> 组件指定 <code>src</code> 属性，
      组件会使用 ajax 来加载该指定的远程图片，加载完后渲染到组件内部。
    </_t></p>
    <CodeExample title="Load SVG" e:example="_examples.svgIcons" />
    <ApiItem title="API - md-icon">
      <ApiTable e:headings="api.props.headings" e:props="api.props.props" slot-pass:props />
      <ApiTable e:headings="api.events.headings" e:props="api.events.props" slot-pass:events />
    </ApiItem>
  </div>
</PageContainer>