<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="图标（Icon）">
  <div class="page-container-section">
    <p>Material icons uses geometric shapes to visually represent core ideas, capabilities, or topics. They are generally used along with the <a href="https://material.io/icons/" target="_blank">Material icons</a></p>
  </div>
  <div class="page-container-section">
    <h2><_t>Material 图标</_t></h2>
    <p>
      在模板中，可以使用 <code>&lt;md-icon-{THEME}-{ICON_ID}&gt;</code> 这个格式的组件别名来引用图标组件。
      模板中的 <code>{THEME}</code> 替换为实际需要的主题，
      可选的主题为 <code>baseline</code>, <code>outline</code>, <code>round</code>, <code>sharp</code>, <code>twotone</code> 这五个之一，
      依次对应 Material Desgin 官网上的 Filled, Outlined, Rounded, Sharp, Two-Tone 主题。
      模板中的 <code>{ICON_ID}</code> 替换为实际的图标的 id，比如 <code>home</code>, <code>3d_rotation</code> 等，
      更多的图标 id 请在使用时直接参考 <a href="https://material.io/tools/icons" target="_blank">Material Desgin 官网</a>。
    </p>
    <p>
      通常情况下，一个项目只会使用一个默认的主题。因此，还可以直接使用 <code>&lt;md-icon-{ICON_ID}&gt;</code> 这个格式的组件别名来引用图标组件。
      默认的主题为 <code>baseline</code>，但可以在 webpack 的配置中指定其它主题为默认主题。
    </p>
    <CodeExample _t:_title="Material 图标" e:_example="_examples.materialIcons" />
    <ApiItem title="API">
      <ApiTable e:headings="_api.common.headings" e:props="_api.common.props" slot-pass:props />
    </ApiItem>
  </div>
  <div class="page-container-section">
    <h2><_t>Icon Font 图标</_t></h2>
    <p>
      直接使用 <code>&lt;md-icon&gt;</code> 组件，可以使用 Icon Font 图标库，比如 <a href="http://fontawesome.io/" target="_blank">Font Awesome</a>。
      需要自己引入相应的 Web Font 资源。
    </p>
    <CodeExample _t:_title="Font Icon 图标" e:_example="_examples.fontIcons" />
  </div>
  <div class="page-container-section">
    <h2><_t>SVG 图标</_t></h2>
    <p>
      如果给 <code>&lt;md-icon&gt;</code> 组件指定 <code>&lt;src&gt;</code> 属性，
      组件会调用 <code>fetch</code> 函数来加载该指定的远程图片，加载完后渲染到组件内部。
    </p>
    <CodeExample _t:_title="SVG 图标" e:_example="_examples.svgIcons" />
    <ApiItem title="API - md-icon">
      <ApiTable e:headings="_api.props.headings" e:props="_api.props.props" slot-pass:props />
      <ApiTable e:headings="_api.events.headings" e:props="_api.events.props" slot-pass:events />
    </ApiItem>
  </div>
</PageContainer>