<div>
  <strong>Fuzzy Search:</strong>
  <md-autocomplete
    e:value="selectedEmployee" 
    e:options="employees"
  >
    <label slot-pass:default>Manager</label>
    <md-highlight
      slot-pass:option
      vm:option
      vm:term
      e:term="term"
      e:text="option"
    />
  </md-autocomplete>

  <strong>Includes Search:</strong>
  <md-autocomplete
    e:value="selectedCountry"
    e:options="countries"
    searchMethod="includes"
  >
    <label slot-pass:default>Country</label>
    <md-highlight
      slot-pass:option
      vm:option
      vm:term
      searchMethod="includes"
      e:term="term"
      e:text="option"
    />
  </md-autocomplete>
  <strong>StartsWith Search:</strong>
  <md-autocomplete
    e:value="selectedCountry"
    e:options="countries"
    searchMethod="starts"
  >
    <label slot-pass:default>Country</label>
    <md-highlight
      slot-pass:option
      vm:option
      vm:term
      searchMethod="starts"
      e:term="term"
      e:text="option"
    />
  </md-autocomplete>
</div>