.color {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 16px;
  border: 1px solid rgba(#000, 0.12);
}

.md-helper-text {
  display: flex;
  align-items: center;

  .color {
    width: 12px;
    height: 12px;
    margin-left: 4px;
  }
}
