@import './variables.scss';
@import './mixins.scss';

.md-layout {
  display: flex;
  flex-wrap: wrap;

  .md-layout {
    flex: 1;
  }

  &.md-nowrap {
    flex-wrap: nowrap;
  }

  &.md-gutter {
    --md-layout-gutter: 0;

    margin-right: calc(var(--md-layout-gutter) * -1);
    margin-left: calc(var(--md-layout-gutter) * -1);

    > .md-layout-item {
      padding-right: var(--md-layout-gutter);
      padding-left: var(--md-layout-gutter);
    }

    @each $breakpoint, $size in $md-breakpoints {
      @include md-layout($breakpoint) {
        @include md-layout-gutter($breakpoint);
      }
    }
  }
}

/**
 * Layout item
 */

.md-layout-item {
  flex: 1 1;

  &.md-layout {
    margin: 0;
  }

  &[class*='md-size-'] {
    --md-layout-item-width: auto;

    min-width: var(--md-layout-item-width);
    max-width: var(--md-layout-item-width);
    flex: 0 1 var(--md-layout-item-width);
  }

  @include md-layout-item;

  @each $breakpoint, $size in $md-breakpoints {
    @include md-layout($breakpoint) {
      @include md-layout-item($breakpoint);
    }
  }
}

/**
 * Hide Element
 */
@each $breakpoint, $size in $md-breakpoints {
  @include md-layout($breakpoint) {
    .md-#{$breakpoint}-hide {
      display: none;
    }
  }
}
