/**
 * 断点。注意这里的顺序必须从大到小，css 生成的先后顺序会影响优先级。
 */
$md-breakpoints: (
  xlarge: 1440,
  large: (
    1240,
    1439,
  ),
  medium: (
    905,
    1239,
  ),
  small: (
    600,
    904,
  ),
  xsmall: 599,
);

/**
 * The available gutter sizes
 */
$md-gutters: (
  xsmall: 8,
  small: 16,
  medium: 24,
  large: 40,
  xlarge: 40,
);
