<div>
  <div class="md-layout md-gutter">
    <div class="md-layout-item md-size-25">
      <md-field>
        <label for="vertical">Vertical</label>
        <md-select id="vertical" e:value="vertical" on:change="vertical = args[0]">
          <md-option value="top">Top</md-option>
          <md-option value="center">Center</md-option>
          <md-option value="bottom">Bottom</md-option>
        </md-select>
      </md-field>
    </div>

    <div class="md-layout-item md-size-25">
      <md-field>
        <label for="horizontal">Horizontal</label>
        <md-select id="horizontal" e:value="horizontal" on:change="horizontal = args[0]" >
          <md-option value="left">Left</md-option>
          <md-option value="center">Center</md-option>
          <md-option value="right">Right</md-option>
          <md-option value="space-around">Space Around</md-option>
          <md-option value="space-between">Space Between</md-option>
        </md-select>
      </md-field>
    </div>
  </div>

  <div class="example">
    <div class="md-layout md-gutter md-alignment-${vertical}-${horizontal}">
      <div class="md-layout-item md-size-25">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>

      <div class="md-layout-item md-size-25">
        <span>Repellat praesentium quasi ipsa totam, delectus aperiam deleniti, voluptates inventore.</span>
      </div>

      <div class="md-layout-item md-size-25">
        <span>Excepturi natus dolorem maxime.</span>
      </div>
    </div>
  </div>
</div>