@import 'style/palette';

.md-layout-item {
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;

  span {
    width: 100%;
    height: 100%;
    padding: 8px;
    display: block;
    background: md-get-palette-color(teal, 200);
  }
}
