@import 'style/engine/index';
@import 'style/themes/default';

.md-layout-item {
  height: 72px;

  &::after {
    width: 100%;
    height: 100%;
    display: block;
    content: ' ';
  }

  &.md-layout {
    &::after {
      transform: translateY(-100%);
      background: md-get-palette-color(yellow, 200);
    }

    .md-layout-item::after {
      height: 40px;
      margin-top: 16px;
      position: relative;
      z-index: 1;
      background: md-get-palette-color(pink, 200);
    }
  }
}
