@import 'style/engine/index';
@import 'style/themes/default';
@import 'src/animation/variables.scss';

.md-layout-item {
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  transition: 0.3s $md-transition-stand-timing;

  &::after {
    width: 100%;
    height: 100%;
    display: block;
    background: md-get-palette-color(purple, 200);
    content: ' ';
  }
}
