@import 'style/palette';

.md-layout-item {
  height: 40px;

  &::after {
    width: 100%;
    height: 100%;
    display: block;
    background: md-get-palette-color(green, 200);
    content: ' ';
  }
}
