<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="文本框">
  <div class="page-container-section">
    <p><_t>
      文本框允许用户通常在表单内部输入，编辑和选择文本。可以用在包括对话框和搜索等场景。
    </_t></p>
    <p><_t>
      典型的输入型组件都需要被包裹在表单项 <code>md-field</code> 组件里搭配使用，
      包括 <code>md-input</code>、<code>md-textarea</code> 和 <code>md-select</code>。
    </_t></p>
  </div>
  <div class="page-container-section">
    <h2><_t>文本输入</_t></h2>

    <p><_t>
      表单项组件支持和原生 html5 相兼容的属性，并支持更多额外属性。 
    </_t></p>
    <p><_t>
      可以在 <code>md-input</code> 和 <code>md-textarea</code> 上设置和原生标签一致的属性，例如：
    </_t></p>
    <CodeExample title="Input and Textarea" e:example="_examples.text" />
  </div>
  <div class="page-container-section">
    <h2><_t>错误提示</_t></h2>

    <p><_t>
      文本框可以添加验证状态以显示错误消息。
    </_t></p>
    <CodeExample title="Validation" e:example="_examples.error" />
  </div>
  <div class="page-container-section">
    <h2><_t>字符计数</_t></h2>

    <p><_t>
      可以在需要限制用户输入的地方使用字符计数器，例如新浪微博最多允许 140 个字符。
    </_t></p>
    <CodeExample title="Counter" e:example="_examples.counter" />
  </div>
  <div class="page-container-section">
    <h2><_t>图标</_t></h2>

    <p><_t>
      可以为文本框添加图标来区分其内容代表的含义：
    </_t></p>
    <CodeExample title="Outside and inline icons" e:example="_examples.icons" />
  </div>
  <div class="page-container-section">
    <h2><_t>内部动作</_t></h2>

    <p><_t>
      输入框可以具有可清除的功能，以使用户更容易清除值。为了更好地使用密码，我们可以显示一个切换按钮来显示密码。这对于移动应用程序确实非常有用：
    </_t></p>
    <CodeExample title="Clear and password" e:example="_examples.action" />
  </div>
  <div class="page-container-section">
    <h2><_t>前缀和后缀</_t></h2>

    <p><_t>
      前缀和后缀可用于澄清单位或预先添加输入。前缀在文本字段中左对齐，而后缀右对齐。文本框可以同时具有前缀和后缀。
    </_t></p>
    <CodeExample title="Prefixes & suffixes" e:example="_examples.fix" />
  </div>
  <div class="page-container-section">
    <ApiItem title="API - md-field">
      <ApiTable e:headings="api.field.props.headings" e:props="api.field.props.props" slot-pass:props />
      <ApiTable e:headings="api.field.events.headings" e:props="api.field.events.props" slot-pass:events />
    </ApiItem>

    <ApiItem title="API - md-input">
      <ApiTable e:headings="api.input.headings" e:props="api.input.props" slot-pass:props />
      <ApiTable e:headings="api.input.events.headings" e:props="api.input.events.props" slot-pass:events />
    </ApiItem>

    <ApiItem title="API - md-textarea">
      <ApiTable e:headings="api.textarea.headings" e:props="api.textarea.props" slot-pass:props />
      <ApiTable e:headings="api.input.textarea.headings" e:props="api.textarea.events.props" slot-pass:events />
    </ApiItem>

    <NoteBlock tip><_t>
      任何原生 <code>input</code> 和 <code>textarea</code> 的属性，都可以被应用到 <code>md-input</code> 和 <code>md-textarea</code> 组件上。
    </_t></NoteBlock>
  </div>
</PageContainer>