<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="文本框（Input & Textarea）">
  <div class="page-container-section">
    <p>Text fields allow users to input, edit and select text typically inside forms. But they can appear in other places as well like dialog boxes and search.</p>
    <p>Jinge Material fields work with a <code>md-field</code> wrapped around an input component, that can be <code>md-input</code>, <code>md-textarea</code> or even a <code>md-select</code>.</p>
  </div>
  <div class="page-container-section">
    <h2>Text Fields</h2>

    <p>Fields mimic the HTML5 attributes to keep the same compatibility with native inputs, but has extra options. This allows Vue Material to accordingly setup the various <code>md-field</code> with its corresponding input options.</p>
    <p>You will be able to set the same properties of a regular <code>input</code> element on <code>md-input</code>. This is also valid for <code>textarea</code> and <code>select</code>. Take a look:</p>
    <CodeExample title="Input and Textarea" e:example="_examples.text" />
  </div>
  <div class="page-container-section">
    <h2>Errors and Messages</h2>

    <p>Jinge Material has validation states to show error messages. </p>
    <CodeExample title="Validation" e:example="_examples.error" />
  </div>
  <div class="page-container-section">
    <h2>Character count</h2>

    <p>You can use character counters where you need to limit the user input, like on Twitter's 280 character tweet:</p>
    <CodeExample title="Counter" e:example="_examples.counter" />
  </div>
  <div class="page-container-section">
    <h2>Icons</h2>

    <p>Sometimes we may want to differentiate our inputs based on it content value:</p>
    <CodeExample title="Outside and inline icons" e:example="_examples.icons" />
  </div>
  <div class="page-container-section">
    <h2>Inline Actions</h2>

    <p>Fields can have a clearable feature to make it easier for users to clear the value. To use passwords better we can show a toggle button to reveal the password. This is really useful for mobile applications:</p>
    <CodeExample title="Clear and password" e:example="_examples.action" />
  </div>
  <div class="page-container-section">
    <h2>Prefixes & suffixes</h2>

    <p>Prefixes and suffixes can be used to clarify units or to add input in advance. Prefixes are left justified in the text field whereas suffixes are right justified. Text fields can have both prefixes and suffixes.</p>
    <CodeExample title="Prefixes & suffixes" e:example="_examples.fix" />
  </div>
  <div class="page-container-section">
    <ApiItem title="API - md-field">
      <ApiTable e:headings="_api.field.props.headings" e:props="_api.field.props.props" slot-pass:props />
      <ApiTable e:headings="_api.field.events.headings" e:props="_api.field.events.props" slot-pass:events />
    </ApiItem>

    <ApiItem title="API - md-input">
      <ApiTable e:headings="_api.input.headings" e:props="_api.input.props" slot-pass:props />
      <ApiTable e:headings="_api.input.events.headings" e:props="_api.input.events.props" slot-pass:events />
    </ApiItem>

    <ApiItem title="API - md-textarea">
      <ApiTable e:headings="_api.textarea.headings" e:props="_api.textarea.props" slot-pass:props />
      <ApiTable e:headings="_api.input.textarea.headings" e:props="_api.textarea.events.props" slot-pass:events />
    </ApiItem>

    <NoteBlock tip>Any <code>input</code> or <code>textarea</code> attributes can be used on <code>md-input</code>/<code>md-textarea</code> respectively.</NoteBlock>
  </div>
</PageContainer>