<div class="md-tabs md-alignment-${alignment}${noTransition ? ' md-no-transition' : ''}${dynamicHeight ? ' md-dynamic-height' : ''}">
  <div ref:nav class="md-tabs-navigation md-elevation-${elevation}">
    <for e:loop="items" vm:index="index" vm:each="tab">
    <md-button
      class="md-tab-nav-button${!syncRoute && tab.isActive ? ' md-active' : ''}"
      e:disabled="tab.disabled"
      active="md-active"
      on:click="_active(index)"
      e:href="tab.href"
      e:params="tab.params"
      e:to="tab.to"
    >

      <!-- <template v-else>
        <template v-if="!icon">{{ label }}</template>
        <template v-else>
          <md-icon class="md-tab-icon" v-if="isAssetIcon(icon)" :md-src="icon"></md-icon>
          <md-icon class="md-tab-icon" v-else>{{ icon }}</md-icon>
          <span class="md-tab-label">{{ label }}</span>
        </template>
      </template> -->
      <_slot slot-use:tab>
        ${ tab.label }
      </_slot>
    </md-button>
    </for>
    <span class="md-tabs-indicator${indicatorClass ? ' ' + indicatorClass : ''}" e:style="indicatorStyles" ref:indicator></span>
  </div>

  <if e:expect="_hasContent">
  <md-content class="md-tabs-content" e:style="contentStyles">
    <div class="md-tabs-container" e:style="containerStyles">
      <_slot />
    </div>
  </md-content>
  </if>
</div>