@import 'style/layout/mixins';

.home-icon {
  margin-bottom: 32px;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  @include md-layout-xsmall {
    margin: 0 auto 32px;
  }
}
