@import 'src/animation/variables';
@import 'style/layout/mixins';
@import 'style/palette.scss';

.home-icon-square {
  width: 96px;
  height: 100px;

  > div {
    width: 80px;
    height: 80px;
  }

  &:hover {
    .square {
      opacity: 0.87;

      &:nth-child(1) {
        transform: translate3d(-8px, -8px, 0);
      }

      &:nth-child(3) {
        transform: translate3d(24px, 24px, 0);
      }
    }
  }
}

.square {
  position: absolute;
  top: 2px;
  left: 0;
  transition: $md-transition-stand;
  will-change: transform, opacity;

  &:nth-child(1) {
    background: md-get-palette-color(blue, A200);
  }

  &:nth-child(2) {
    background: md-get-palette-color(lightgreen, A200);
    transform: translate3d(8px, 8px, 0);
  }

  &:nth-child(3) {
    background: md-get-palette-color(grey, 50);
    transform: translate3d(16px, 16px, 0);
  }
}
