<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="标签页">
  <div class="page-container-section">
    <p><_t>
      标签页也叫选项卡。使用标签页可以轻松浏览，在不同视图之间切换以及启用高级别的内容组织，例如不同的数据集或应用程序的功能方面。
    </_t></p>
  </div>

  <div class="page-container-section">
    <h2><_t>导航标签页</_t></h2>

    <p><_t>
      可以使用标签页作为应用程序的主导航。标签页默认情况下可以和 jinge-ui-router 无缝集成，可以像按钮或 ui-sref 组件一样使用 <code>to</code>、<code>params</code> 等属性。
    </_t></p>
    <CodeExample title="Seamless integration with jinge-ui-router" e:example="_examples.router" />
  </div>

  <div class="page-container-section">
    <h2><_t>标签页内容</_t></h2>

    <p><_t>
      在前面的示例中，选项卡的工作原理与导航按钮相同，但没有内容。可以指定自定义内容。可以将任意内容传递到选项卡。可以与路由器同步：
    </_t></p>
    <CodeExample title="Content syncing with Router" e:example="_examples.content" />
  </div>

  <div class="page-container-section">
    <h2><_t>对齐方式</_t></h2>

    <p><_t>
      选项卡具有四种类型的导航按钮对齐方式：左，中，右和固定。 您可以将它们与任何选项卡一起使用：
    </_t></p>
    <CodeExample title="With different hue colors" e:example="_examples.alignments" />
  </div>

  <div class="page-container-section">
    <h2><_t>图标</_t></h2>

    <p><_t>
      可以在标签页中使用图标，以使得用户更容易理解标签的内容：
    </_t></p>
    <CodeExample title="With icon support" e:example="_examples.icons" />
  </div>

  <div class="page-container-section">
    <h2><_t>自定义模版</_t></h2>

    <p><_t>
      通过 slot 可以指定标签页里面的内容的自定义模板。下面是一个提示未读信息的简单示例：
    </_t></p>
    <CodeExample title="Template Slot" e:example="_examples.template" />

    <ApiItem title="API - md-tabs">
      <ApiTable e:headings="api.tabs.props.headings" e:props="api.tabs.props.props" slot-pass:props />
      <ApiTable e:headings="api.tabs.events.headings" e:props="api.tabs.events.props" slot-pass:events />
    </ApiItem>

    <ApiItem title="API - md-tab">
      <ApiTable e:headings="api.tab.headings" e:props="api.tab.props" slot-pass:props />
    </ApiItem>
  </div>
</PageContainer>