<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="文件选择">
  <div class="page-container-section">
    <p><_t>
      文件选择组件允许用户选择一个或多个文件。可以像普通输入文件一样过滤文件类型，或选择多个文件。
    </_t></p>
    <NoteBlock tip><_t>
      <code>md-file</code> 组件可以像 <code>md-input</code> 组件一样使用。即，可以使用包括 <strong>placeholder</strong> 和 <strong>required</strong> 以及 <strong>disabled</strong> 等属性。
    </_t></NoteBlock>
  </div>

  <div class="page-container-section">
    <h2><_t>文件选择</_t></h2>

    <CodeExample title="File Field" e:example="_examples.regular" />

    <ApiItem title="API - md-file">
      <ApiTable e:headings="api.regular.events.headings" e:props="api.regular.events.props" slot-pass:events />
    </ApiItem>

    <NoteBlock tip><_t>
      浏览器原生 <code>&lt;input type=&quot;file&quot;&gt;</code> 支持的各种属性，比如 <strong>multiple</strong> 和 <strong>accept</strong> 等，都可以使用到 <code>md-file</code> 上。
    </_t></NoteBlock>
  </div>
</PageContainer>