@import '../animation/variables';
@import '../layout/mixins';
@import '../elevation/mixins';
@import '../card/base';
@import 'style/engine/index';
@import 'style/themes/default';

@mixin md-drawer-base() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

@mixin md-drawer-temporary() {
  @include md-drawer-base;

  z-index: 30;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s $md-transition-default-timing;
  will-change: transform, box-shadow;
}

@mixin md-drawer-temporary-active() {
  transform: translate3d(0, 0, 0);

  @include md-layout-xsmall {
    @include md-elevation(16);
  }
}

.md-drawer {
  @include md-drawer-temporary;

  width: 400px;
  max-width: calc(100vw - 56px);
  overflow-x: hidden;
  overflow-y: auto;

  @include md-theme-property(background-color, background);
  @include md-theme-property(color, text-primary, background);

  @include md-layout-xsmall {
    width: 320px;
  }

  &.md-right {
    right: 0;
    left: auto;
    transform: translate3d(100%, 0, 0);
  }

  &.md-fixed {
    position: fixed;
  }

  &.md-active {
    @include md-drawer-temporary-active;
  }

  // &:not(.md-temporary) {
  //   ~ .md-overlay {
  //     @include md-layout-small-and-up {
  //       background: none;
  //       pointer-events: none;
  //     }
  //   }
  // }

  // &.md-temporary {
  //   &.md-left {
  //     + .md-app-container .md-content {
  //       border-left: none;
  //     }
  //   }

  //   &.md-active {
  //     @include md-elevation(16);
  //   }
  // }

  .md-list-item-container {
    font-size: 14px;
    text-transform: none;
  }
}

.md-drawer-container {
  position: relative;
  overflow: hidden;

  > .md-drawer-main {
    transition: margin 0.4s $md-transition-default-timing;
  }
}
