<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="自动补全">
  <div class="page-container-section">
    <p><_t>
      输入文本可以与自动完成功能一起使用，以帮助识字能力有限或使用外语书写的用户。 例如，自动完成功能可以在输入时建议输入（每次击键都会刷新建议）。
    </_t></p>
    <p><_t>
      自动补全组件类似于 <code>md-field</code>，可以传递标签，验证消息，帮助程序文本甚至图标。
    </_t></p>
  </div>
  <div class="page-container-section">
    <h2><_t>使用静态数据</_t></h2>

    <p><_t>
      如果数据量少或是静态数据，则可以通过简单直观的方式将数据选项传递给 <code>md-autocomplete</code>：
    </_t></p>
    <CodeExample title="Normal and Dense" e:example="_examples.static" />
  </div>
  <div class="page-container-section">
    <h2><_t>触发方式</_t></h2>

    <p><_t>
      默认情况下，建议在输入框获取焦点时打开自动补全。如果希望减少干扰，可以通过取消焦点事件来禁用此行为。如果是这样，则建议将在按键后立即显示：
    </_t></p>
    <CodeExample title="Focus vs Input" e:example="_examples.trigger" />
  </div>
  <div class="page-container-section">
    <h2><_t>Box 布局</_t></h2>
    <p><_t>
      自动补全组件可以使用两种布局：默认带有浮动标签，而盒装版式带有内联标签。框式布局将应用具有小高程的框式布局，这也非常适合用作工具栏内的搜索栏。
    </_t></p>
    <CodeExample title="Works with dense variant too!" e:example="_examples.box" />
  </div>
  <div class="page-container-section">
    <h2><_t>自定义模板</_t></h2>
    <p><_t>
      自动补全组件还接受自定义模板，该模板可以灵活地接受任何HTML元素并内置“空状态”。您还可以突出显示匹配项中的搜索词，以提供有关该项目为何出现在结果中的反馈。
    </_t></p>
    <CodeExample title="With highlight text" e:example="_examples.template" />
    <NoteBlock tip><_t>
      尽管 <code>md-highlight</code> 组件最常与自动补全组件一起使用，但你可以在任何地方使用它。
    </_t></NoteBlock>
  </div>
  <div class="page-container-section search-algorithms">
    <h2><_t>搜索算法</_t></h2>

    <p><_t>
      自动补全组件可以使用 3 种搜索算法：<a href="https://en.wikipedia.org/wiki/roximate_string_matching" target="_blank">fuzzy</a>，includes 和 starts。
    </_t></p>
    <div class="md-layout md-gutter">
      <div class="md-layout-item md-size-33">
        <p>
          <strong>Fuzzy search</strong> - search term: <code>pam</code>
        </p>
        <div>
          Matches:
          <ul>
            <li>
              <md-highlight term="pam" text="Pam Beesly"/>
            </li>

            <li>
              <md-highlight term="pam" text="Meredith Palmer"/>
            </li>
          </ul>
        </div>
      </div>

      <div class="md-layout-item md-size-33">
        <p>
          <strong>Includes Search</strong> - search term: <code>pam</code>
        </p>
        <div>
          Matches:
          <ul>
            <li>
              <md-highlight term="pam" searchMethod="includes" text="Pam Beesly"/>
            </li>
            <li>
              <md-highlight term="pam" searchMethod="includes" text="Ki Pam Beesly"/>
            </li>
          </ul>
        </div>
      </div>
      <div class="md-layout-item md-size-33">
        <p>
          <strong>Starts Search</strong> - search term: <code>pam</code>
        </p>
        <div>
          Matches:
          <ul>
            <li>
              <md-highlight searchMethod="starts" term="pam" text="Pam Beesly"/>
            </li>
            <li>
              <md-highlight searchMethod="starts" term="pam" text="Ki Pam Beesly"/>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <CodeExample title="Fuzzy or Normal" e:example="_examples.search" />
  </div>
  <div class="page-container-section">
    <h2><_t>异步加载数据项</_t></h2>

    <p><_t>
      很多时候需要从远程服务器的 API 接口中获取数据项。可以提供一个 <code>Promise</code>，它将使用例如后端接口中的数据进行解析。
    </_t></p>
    <CodeExample title="Spinner Loading" e:example="_examples.async" />

    <ApiItem title="API - md-autocomplete">
      <ApiTable e:headings="api.props.headings" e:props="api.props.props" slot-pass:props />
      <ApiTable e:headings="api.slots.headings" e:props="api.slots.props" slot-pass:scoped-slots />
      <ApiTable e:headings="api.events.headings" e:props="api.events.props" slot-pass:events />
    </ApiItem>
  </div>
</PageContainer>