<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="子标题">
  <div class="page-container-section">
    <p><_t>
      子标题是用于描述列表或网格列表各部分的列表图块。
    </_t></p>
    <p><_t>
      子标题可以在列表，网格甚至选择中使用，并且通常与过滤或排序标准有关。它们非常适合导航面板和网格列表。
    </_t></p>
  </div>

  <div class="page-container-section">
    <h2><_t>子标题</_t></h2>

    <CodeExample title="Subheader" e:example="_examples.subheader" />

    <ApiItem title="API - md-subheader">
      <p><_t>子标题组件没有可配置的属性。</_t></p>
    </ApiItem>
  </div>
</PageContainer>