.md-empty-state {
  .md-icon {
    color: var(--md-on-surface-medium);
  }

  &.md-rounded {
    background-color: var(--md-outline);
  }

  &.md-primary {
    .md-icon {
      color: var(--md-primary);
    }
  }

  &.md-accent {
    .md-icon {
      color: var(--md-secondary);
    }
  }
}
