$md-hover-state-layer-opacity: 8%;
$md-focus-state-layer-opacity: 12%;
$md-pressed-state-layer-opacity: 12%;
$md-dragged-state-layer-opacity: 16%;
$md-disabled-content-state-layer-opacity: 38%;
$md-disabled-container-state-layer-opacity: 12%;
$md-surface-1-overlay-opacity: 5%;
$md-surface-2-overlay-opacity: 8%;
$md-surface-3-overlay-opacity: 11%;
$md-surface-4-overlay-opacity: 12%;
$md-surface-5-overlay-opacity: 14%;
$md-elevation-level-1: 1;
$md-elevation-level-2: 3;
$md-elevation-level-3: 6;
$md-elevation-level-4: 8;
$md-elevation-level-5: 12;
$md-elevation-shadow-1: 0 1px 2px 0 rgb(var(--md-color-shadow-rgb) / 30%),
  0 1px 3px 1px rgb(var(--md-color-shadow-rgb) / 15%);
