<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="徽章">
  <div class="page-container-section">
    <p><_t>徽章是用于在 UI 元素上提示小状态的描述符。</_t></p>
  </div>

  <div class="page-container-section">

    <p><_t>
      按钮，头像等组件需要使用 <code>md-badge</code> 进行包装。
    </_t></p>
    <CodeExample title="Example with buttons" e:example="_examples.buttons" />

    <CodeExample title="Example with lists" e:example="_examples.lists" />

    <CodeExample title="Dense" e:example="_examples.dense" />

    <ApiItem title="API - md-badge">
      <ApiTable e:headings="api.props.headings" e:props="api.props.props" slot-pass:props />
      <ApiTable e:headings="api.classes.headings" e:props="api.classes.props" slot-pass:classes />
    </ApiItem>
  </div>
</PageContainer>