<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="进度条（Progress Bar）">
  <div class="page-container-section">
    <p>Progress indicators are visual indications of an app loading content.</p>
    <p>Progress bars have 4 types for each operation that your application may need: Determinate, Indeterminate, Query or Buffer.</p>
  </div>

  <div class="page-container-section">
    <h2><_t>进度条（Progress Bar）</_t></h2>

    <p>When indicators are determinate they indicate how long an operation will take when the percentage complete is detectable.</p>
    <CodeExample _t:title="Determinate" e:_example="_examples.determinate" />
  </div>

  <div class="page-container-section">
    <p>When indicators are indeterminate they request that the user wait while something finishes when it’s not necessary to indicate how long it will take.</p>
    <CodeExample _t:title="Indeterminate" e:_example="_examples.indeterminate" />
  </div>

  <div class="page-container-section">
    <p>When dealing with media content like streaming videos we can use progress bars to show the buffering progress indicator on a video.</p>
    <CodeExample title="Buffer" e:_example="_examples.buffer" />
  </div>

  <div class="page-container-section">
    <p>When searching or filtering a large amount of data, we can show a query progress bar. This will tell the user that some content is being retrieved.</p>
    <CodeExample title="Query" e:_example="_examples.query" />

    <ApiItem title="API - md-progress-bar">
      <p slot-pass:default>The following options can be applied to all progress bars:</p>

      <ApiTable e:headings="_api.props.headings" e:props="_api.props.props" slot-pass:props />
    </ApiItem>
  </div>
</PageContainer>