<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="进度条">
  <div class="page-container-section">
    <p><_t>
      进度条用于应用程序加载内容的视觉提示。
    </_t></p>
    <p><_t>
      针对不同应用程序可能的需要，进度条提供提供了 4 种类型：确定，不确定，查询或缓冲区。
    </_t></p>
  </div>

  <div class="page-container-section">
    <h2><_t>进度条</_t></h2>

    <p><_t>
      确定进度条用于指示已完成的百分比。
    </_t></p>
    <CodeExample title="Determinate" e:example="_examples.determinate" />
  </div>

  <div class="page-container-section">
    <p><_t>
      当无法确定当前已完成的进度，只是提示用户等待正在进行的操作，可以使用不确定进度条。
    </_t></p>
    <CodeExample title="Indeterminate" e:example="_examples.indeterminate" />
  </div>

  <div class="page-container-section">
    <p><_t>
      处理流媒体视频等媒体内容时，我们可以使用进度条在视频上显示缓冲进度指示器。
    </_t></p>
    <CodeExample title="Buffer" e:example="_examples.buffer" />
  </div>

  <div class="page-container-section">
    <p><_t>
      当搜索或过滤大量数据时，可以使用查询进度条，以告诉用户正在检索某些内容。
    </_t></p>
    <CodeExample title="Query" e:example="_examples.query" />

    <ApiItem title="API - md-progress-bar">
      <ApiTable e:headings="api.props.headings" e:props="api.props.props" slot-pass:props />
    </ApiItem>
  </div>
</PageContainer>