<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="步骤条 Steppers">
  <div class="page-container-section">
    <p>Steppers display progress through a sequence of logical and numbered steps. They may also be used for navigation and have two main types: Horizontal or Vertical. The horizontal type can have an alternative layout.</p>
    <p>Individual steps are editable and optional by default, but you can change that.</p>
  </div>

  <div class="page-container-section">
    <h2>Horizontal Steppers</h2>

    <p>Horizontal steppers are ideal when the contents of one step depend on an earlier step. You should avoid using long step names in horizontal steppers.</p>
    <p>This is the default type of steppers. They are not recommended for mobile:</p>
    <CodeExample title="Default layout" e:example="_examples.horizontal" />

    <p>They can also have a alternative layout to give greater emphasis to the steps titles:</p>
    <CodeExample title="Alternative Layout" e:example="_examples.alternative" />
  </div>

  <div class="page-container-section">
    <h2>Vertical Steppers</h2>

    <p>Vertical steppers are great deal for mobile devices or to be inserted on small areas of your application, like a dialog or a card.</p>
    <CodeExample title="Ideal for Mobile" e:example="_examples.vertical" />
  </div>
  <div class="page-container-section">
    <h2>Linear Steppers</h2>

    <p>By default steps are optional and this means that you can advance to the last step without pass through the other ones. But sometimes we're guiding an user through a linear flow and all steps matter or are connected together. Linear steppers require users to complete one step in order to move on to the next:</p>
    <CodeExample title="With error handler" e:example="_examples.linear" />
  </div> 
  <div class="page-container-section">
    <h2>Non Editable Steps</h2>

    <p>By default steps are also editable. But you can disable this by manually setting on each step that could be non-editable. This makes sense when users cannot edit a step later or when step editing poses a distraction risk to form completion:</p>
    <CodeExample title="Disable Edit" e:example="_examples.nonEditable" />

    <ApiItem title="API - md-steppers">
      <ApiTable e:headings="_api.steppers.props.headings" e:props="_api.steppers.props.props" slot-pass:props />
      <ApiTable e:headings="_api.steppers.events.headings" e:props="_api.steppers.events.props" slot-pass:events />
    </ApiItem>

    <ApiItem title="API - md-step">
      <ApiTable e:headings="_api.step.props.headings" e:props="_api.step.props.props" slot-pass:props />
    </ApiItem>
  </div>
</PageContainer>