<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="Card">
  <div class="page-container-section">
    <p>Cards may contain a photo, text, and a link about a single subject. They may display content containing elements of varying size, such as photos with captions of variable length.</p>
    <p>The cards components are very granular. Every single part of a card is a component. You can combine them in any order that you'd like, following the same logic of the examples.</p>
  </div>

  <div class="page-container-section">
    <h2>Regular Cards</h2>

    <p>The simplest card structure has a header, content area and action buttons, defined by <code>md-card-header</code>, <code>md-card-content</code> and <code>md-card-actions</code>, respectively. The header may contain a title and a subtitle <code>div</code> or <code>span</code> with classes <code>.md-title</code> and <code>.md-subhead</code>. In the content area, you may use any kind of text elements and for the actions, use at most two <code>md-buttons</code>.</p>

    <p>If you want to elevate the card as the user hovers over it, add the <code>md-with-hover</code> property. You can also add a ripple effect in combination with the elevation behavior. For doing so, wrap the <code>md-card</code>'s content in a <code>md-ripple</code> tag.</p>

    <CodeExample title="Regular Cards" e:_example="_examples.regular" />

    <h2>Cards with Images</h2>

    <p>To add visual appeal to your cards, you can add images inside the <code>md-header</code> tag with a <code>md-card-media</code> wraping an <code>img</code> tag. It's possible to increase the image size to medium or big with the properties <code>md-medium</code> and <code>md-big</code>.</p>

    <p>Although not necessary with text-only headers, when using a <code>md-card-media</code>, the title and subtitle should be wrapped around a <code>md-card-header-text</code> tag.</p>

    <p>For a text-free card with action icon buttons on the side, wrap the card content inside a <code>md-card-media-actions</code> component.</p>

    <CodeExample title="Media cover" e:_example="_examples.media" />

    <p>If you want the image to fill the whole card area, wrap the card content inside a <code>md-card-media-cover</code> component. Its basic structure comprises the following components:</p>

    <ul>
      <li><code>md-card-media</code>, where you specify the imagine with an <code>img</code> tag. The image's aspect ratio can be specified with <code>md-card-media</code>'s <code>md-ratio</code> property;</li>

      <li><code>md-card-area</code>, where header (<code>md-header</code>) and actions (<code>md-card-actions</code>) are specified.</li>
    </ul>

    <p></p>
    If there isn't sufficient contrast between background image and title, the latter won't be perfectly legible. To overcome that, apply a solid or gradient background to the text by using the <code>md-card-media-cover</code>'s properties <code>md-solid</code> or <code>md-text-scrim</code>, respectively.

    <CodeExample title="Card background with Aspect Ratio" e:_example="_examples.mediaCover" />
    
    <h2>Themes</h2>

    <p>Your cards will stand out if you change their base color... And you can do it by applying themes! Just add a <code>.primary</code> or <code>accent</code> class on them. This will use the current theme. You can specify a custom one with the <code>md-theme</code> property.</p>
    <CodeExample title="Theme Colors" e:_example="_examples.theme" />

    <h2>Expansion Control</h2>
    <p>To avoid too much information inside a card, or keep its height from exceeding the maximum height, hide supplementary information inside a expansible area.</p>

    <p>It can be done with the <code>md-card-expand</code> component, that has a <code>md-card-action</code> with a <code>md-card-expand-trigger</code> that toggles a <code>md-card-expand-content</code>.</p>

    <!-- <code-example title="Expansion Control" :component="examples['card-expansion']" /> -->

    <h2>Different Layouts</h2>
    That's pretty much it. You can now combine these and other components in many distinct ways. Here are some examples:

    <!-- <code-example title="Different Layouts" :component="examples['layouts']" /> -->

    <ApiItem title="API - md-card">
      <ApiTable e:headings="_api.card.props.headings" e:props="_api.card.props.props" slot-pass:props />
    </ApiItem>

    <ApiItem title="API - md-card-actions">
      <ApiTable e:headings="_api.cardActions.props.headings" :props="_api.cardActions.props.props" slot-pass:props />
    </ApiItem>

    <ApiItem title="API - md-card-area">
      <ApiTable e:headings="_api.cardArea.props.headings" e:props="_api.cardArea.props.props" slot-pass:props />
    </ApiItem>

    <ApiItem title="API - md-card-media">
      <ApiTable e:headings="_api.cardMedia.props.headings" e:props="_api.cardMedia.props.props" slot-pass:props />
    </ApiItem>

    <ApiItem title="API - md-card-media-cover">
      <ApiTable e:headings="_api.cardMediaCover.props.headings" e:props="_api.cardMediaCover.props.props" slot-pass:props />
    </ApiItem>
  </div>
</PageContainer>