@import './_elevation.scss';

:root {
  @include theme-elevation(false, #fff);

  --md-primary: #6200ee;
  --md-secondary: #03dac5;
  --md-background: #fff;
  --md-surface: #fff;
  --md-surface-disabled: rgb(0 0 0 / 12%);
  --md-error: #b00020;
  --md-on-primary: #fff;
  --md-on-primary-medium: rgb(255 255 255 / 74%);
  --md-on-primary-disabled: rgb(255 255 255 / 38%);
  --md-on-secondary: #fff;
  --md-on-secondary-disabled: rgb(255 255 255 / 38%);
  --md-on-background: #000;
  --md-on-surface: rgb(0 0 0 / 87%);
  --md-on-surface-medium: rgb(0 0 0 / 60%);
  --md-on-surface-disabled: rgb(0 0 0 / 38%);
  --md-on-error: #fff;
  --md-outline: rgb(0 0 0 / 12%);
}
