<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="列表">
  <div class="page-container-section">
    <p><_t>
      列表用于将多个项目垂直连续展示，适合多个相似数据项目的展示。
    </_t></p>
    <p><_t>
      列表项可以具有一，二或三行内容，其中可以包含不同的信息。列表在移动和桌面 APP 上都可以适用。
    </_t></p>
    <p><_t>
      列表项可以具有交互事件，例如单击和鼠标按下事件。同时还可以和 jinge-ui-router 无缝集成。
    </_t></p>
  </div>

  <div class="page-container-section">
    <h2><_t>列表</_t></h2>

    <p><_t>
      单行列表对于导航元素（例如抽屉）确实非常有用。可以向其传递图标，文本和操作。它们的布局也很密集，可以在屏幕上容纳更多项目：
    </_t></p>
    <CodeExample title="Single Line" e:example="_examples.singleLine" />
  </div>

  <div class="page-container-section">
    <p><_t>
      双行列表可以更好地显示了有关单个项目的其他信息：
    </_t></p>
    <CodeExample title="Double Line" e:example="_examples.doubleLine" />
  </div>

  <div class="page-container-section">
    <p><_t>
      三行列表非常适合显示项目的全部内容的预览。比如，适用于电子邮件列表和其他类似信息：
    </_t></p>
    <CodeExample title="Triple Line" e:example="_examples.tripleLine" />
  </div>

  <div class="page-container-section">
    <h2><_t>交互响应</_t></h2>

    <p><_t>
      列表项将根据给定的交互类型，渲染成不同的浏览器 html 标签。
    </_t></p>
    <p><_t>
      如果传递了下面列出的事件之一，则该列表项将被渲染成 <code>&lt;button&gt;</code>：
    </_t></p>
    <ul>
      <for e:loop="_interactionEvents" vm:each="event">
      <li>${event}</li>
      </for>
    </ul>

    <p><_t>
      如果指定了 <code>href</code> 或 <code>to</code> 属性，则该列表项将被渲染成 <code>&lt;a&gt;</code>：
    </_t></p>
    <p><_t>
      所有 <code>ui-sref</code> 组件的可用属性，都可以被使用到列表项上。
    </_t></p>
    <CodeExample title="Different types" e:example="_examples.listTypes" />
  </div>

  <div class="page-container-section">
    <p><_t>
      列表接受控件作为主要切换动作。对改善表单布局非常有用：
    </_t></p>
    <CodeExample title="Controls" e:example="_examples.controls" />
  </div> 

  <div class="page-container-section">
    <p><_t>
      列表可以具有可展开面板以显示更多信息：
    </_t></p>
    <CodeExample title="Expansion" e:example="_examples.expansion" />

    <ApiItem title="API - md-list">
      <ApiTable e:headings="api.list.props.headings" e:props="api.list.props.props" slot-pass:props />
      <ApiTable e:headings="api.list.classes.headings" e:props="api.list.classes.props" slot-pass:classes />
    </ApiItem>

    <ApiItem title="API - md-list-item">
      <ApiTable e:headings="api.item.props.headings" e:props="api.item.props.props" slot-pass:props />
    </ApiItem>
  </div>
</PageContainer>