<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="列表 List">
  <div class="page-container-section">
    <p>Lists present multiple line items vertically as a single continuous element and are best suited for similar data types.</p>
    <p>They can have one, two or three lines of content, with a lot of different contents. Even that the examples on this page may look like that lists can only be used in mobile viewport, you can and should use them in desktop too.</p>
    <p>List items can have interaction events, like click and mousedown events. They also integrate nicely with Jinge UI Router.</p>
  </div>

  <div class="page-container-section">
    <h2>List</h2>

    <p>Single line lists are really great for navigational elements, such as drawers. You can pass a icons, text and actions to them. They have also a dense layout, to accommodate more items on the screen:</p>
    <CodeExample title="Single Line" e:example="_examples.singleLine" />
  </div>

  <div class="page-container-section">
    <p>The double line lists are good to show additional information about single items:</p>
    <CodeExample title="Double Line" e:example="_examples.doubleLine" />
  </div>

  <div class="page-container-section">
    <p>The three line lists are great for showing a preview of the full content of the item. It's good for email lists and other information like that:</p>
    <CodeExample title="Triple Line" e:example="_examples.tripleLine" />
  </div>

  <div class="page-container-section">
    <h2>List Actions</h2>

    <p>List items will render different tags based on the interaction types given.</p>
    <p>If you pass one of those event, the item will automatically render a <code>button</code>:</p>
    <ul>
      <for e:loop="_api.interactionEvents" vm:each="event">
      <li>${event}</li>
      </for>
    </ul>

    <p>If you pass a <code>href</code> attribute, the item will automatically render an <code>a</code> tag.</p>
    <p>All options of <code>ui-sref</code> can be simply used here. This will render an <code>a</code> tag:</p>
    <CodeExample title="Different types" e:example="_examples.listTypes" />
  </div>

  <div class="page-container-section">
    <p>Lists accept controls as main toggle actions. Really useful to improve form layouts:</p>
    <CodeExample title="Controls" e:example="_examples.controls" />
  </div> 

  <div class="page-container-section">
    <p>Lists can have expansion panels to reveal more options:</p>
    <CodeExample title="Expansion" e:example="_examples.expansion" />

    <ApiItem title="API - md-list">
      <p slot-pass:default>The following options can be applied to any list:</p>

      <ApiTable e:headings="_api.list.props.headings" e:props="_api.list.props.props" slot-pass:props />
      <ApiTable e:headings="_api.list.classes.headings" e:props="_api.list.classes.props" slot-pass:classes />
    </ApiItem>

    <ApiItem title="API - md-list-item">
      <ApiTable e:headings="_api.item.props.headings" e:props="_api.item.props.props" slot-pass:props />
    </ApiItem>
  </div>
</PageContainer>