<div>
  <md-toolbar>
    <h3 class="md-title" style="flex: 1;">Title</h3>
    <md-button class="md-icon-button">
      <md-icon-more_vert/>
    </md-button>
  </md-toolbar>

  <md-toolbar class="md-accent" elevation="1">
    <h3 class="md-title" style="flex: 1;">Title</h3>
    <md-button class="md-on-accent">Refresh</md-button>
    <md-button class="md-on-accent">Create</md-button>
  </md-toolbar>

  <md-toolbar class="md-large md-primary">
    <div class="md-toolbar-row">
      <div class="md-toolbar-section-start">
        <md-button class="md-icon-button md-on-primary">
          <md-icon-menu/>
        </md-button>
      </div>

      <div class="md-toolbar-section-end">
        <md-button class="md-icon-button md-on-primary">
          <md-icon-refresh/>
        </md-button>

        <md-button class="md-icon-button md-on-primary">
          <md-icon-more_vert/>
        </md-button>
      </div>
    </div>

    <div class="md-toolbar-row md-toolbar-offset">
      <h3 class="md-title">Title on a second row</h3>
    </div>
  </md-toolbar>
</div>
