@import 'style/engine/index';
@import 'style/themes/default';

.md-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;

  @include md-theme-property(background-color, background);

  th,
  td {
    &.md-numeric {
      text-align: right;
    }
  }

  > thead > tr > th {
    text-align: left;
    height: 56px;
    padding: 14px 32px 14px 24px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include md-theme-property(color, text-accent, background);
  }

  > tbody > tr > td {
    height: 48px;
    position: relative;
    // transition: .3s cubic-bezier(.4,0,.2,1);
    font-size: 13px;
    line-height: 18px;
    padding: 6px 32px 6px 24px;
    border-top: 1px solid;

    @include md-theme-property(border-top-color, divider, background);

    > a {
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }

      & + a {
        margin-left: 6px;
      }
    }
  }

  > tbody > tr:hover > td {
    @include md-theme-property(background-color, highlight, background, 0.08);
  }
}
