.md-content {
  &.md-primary {
    background-color: var(--md-primary);
    color: var(--md-on-primary);
  }

  &.md-accent {
    background-color: var(--md-secondary);
    color: var(--md-on-secondary);
  }

  .md-app & {
    border-left-color: var(--md-outline);
    border-right-color: var(--md-outline);
  }
}
