<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="内容框">
  <div class="page-container-section">
    <p><_t>
      包含任意信息的内容容器在 Material Design 规范中称为材料或材料片。
    </_t></p>
  </div>
  <div class="page-container-section">
    <h2><_t>内容框</_t></h2>
    
    <CodeExample title="Content" e:example="_examples.paperContent" />

    <ApiItem title="API - md-content">
      <ApiTable e:headings="api.props.headings" e:props="api.props.props" slot-pass:props />
    </ApiItem>

  </div>
</PageContainer>