@import 'src/animation/variables';
@import 'style/layout/mixins';
@import 'style/palette.scss';

.main-footer {
  height: 96px;
  position: relative;
  z-index: 4;
  margin: auto;
  padding: 16px;
  max-width: 1100px;
  margin-top: 32px;

  @include md-layout-xsmall {
    height: 106px;
  }
}

div.main-footer-container {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  transition: 0.3s $md-transition-default-timing;
  transition-property: max-width;

  @include md-layout-xsmall {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  a {
    color: var(--md-on-surface-medium);

    &:hover {
      .red {
        transform: scale(1.4);
        color: md-get-palette-color(red, 700);
      }
    }

    + a {
      margin-left: 32px;
    }
  }
}

.main-footer-section {
  position: relative;

  + .main-footer-section {
    @include md-layout-xsmall {
      &::before {
        width: 60px;
        height: 1px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -8px);
        background-color: #{ rgba(md-get-palette-color(grey, 400), 0.6) };
        content: ' ';
      }
    }
  }
}

.red {
  display: inline-block;
  color: md-get-palette-color(red, 500);
  transition: 0.3s $md-transition-default-timing;
}
