@import 'style/palette';

.jinge-material-site-logo {
  polygon {
    transition: fill ease 0.3s;

    &.primary {
      fill: var(--md-primary);
    }

    &.accent {
      fill: var(--md-secondary);
    }

    &.background {
      fill: var(--md-background);
    }
  }
}

.header-theme-menu {
  i.theme-preview {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 12px;

    &.default,
    &.default-dark {
      background-color: md-get-palette-color(blue, 500);
    }

    &.purple,
    &.purple-dark {
      background-color: md-get-palette-color(purple, 500);
    }
  }

  .md-list-item-content {
    justify-content: flex-start;
    align-items: center;
  }

  .md-menu-content {
    max-height: 100vh;
  }
}
