<md-toolbar class="main-header${isSplash ? ' splash' : ''}" e:elevation="isSplash ? 0 : 2">
  <div class="md-toolbar-row">
    <md-icon class="logo" src="assets/logo.svg"/>
    <md-button class="md-icon-button menu" on:click="showMenu">
      <md-icon-menu/>
    </md-button>

    <div class="md-title">
      <span class="md-xsmall-hide">Jinge Material</span>
    </div>

    <md-button class="md-icon-button">
      <a href="https://github.com/YuhangGe/jinge-material" target="_blank">
        <md-icon src="assets/icon/github.svg" class="icon-github" />
      </a>
    </md-button>
  </div>
</md-toolbar>