.main-nav-content {
  position: relative;

  &.w {
    width: 214px;
  }
}

.main-nav-content /deep/ {
  > .todo-tip {
    margin: 0;
    position: absolute;
    top: -18px;
    left: 0;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    line-height: 1;
    display: flex;
    align-items: baseline;

    > .md-icon {
      font-size: 14px;
      margin-right: 2px;
    }
  }

  a {
    display: block;
    font-size: 14px;
    line-height: 2em;
    text-decoration: none;
    color: var(--md-on-surface);

    > span.tip {
      margin-left: 4px;
      font-size: 12px;
      color: var(--md-on-surface-medium);
    }

    &:hover,
    &.active {
      &,
      & > span.tip {
        color: var(--md-primary);
      }
    }
  }

  a.active {
    font-weight: 500;
  }

  .main-nav-level {
    margin-bottom: 16px;
    margin-left: 20px;
  }
}
