@import 'src/animation/variables';
@import 'style/layout/mixins';

.main-nav {
  width: 230px;
  padding: 24px 16px 112px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: auto;
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  transition: 0.3s $md-transition-default-timing;
  transition-property: top;

  @include md-layout-small {
    top: 48px;
  }

  @include md-layout-xsmall {
    display: none;
  }
}

.nav-leave-active {
  display: none;
}

.nav-enter-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  transition: 0.4s $md-transition-default-timing;
  transition-property: opacity, transform;
  will-change: opacity, transform;
}

.nav-enter-to {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.md-drawer {
  display: none;

  @include md-layout-xsmall {
    display: flex;
    flex-direction: column;
  }
}

.main-nav-drawer-content {
  padding: 16px;
  flex: 1;
  overflow: auto;
  border-top: 1px solid rgba(#000, 0.12);
}
