<!-- import { NavContent } from './nav-content.js' -->
<div class="main-nav-container">
  <if e:expect="!isSplash">
  <md-content class="main-nav">
    <NavContent/>
  </md-content>
  </if>
  

  <md-drawer fixed e:active="menuShown" on:update.active="menuShown = args[0]" on:closed="hideMenu">
    <md-toolbar class="md-transparent" elevation="0">
      <md-icon style="font-size: 24px; margin: 0 0 0 8px;" src="assets/logo.svg"/>
      <span class="md-title">Jinge Material</span>
    </md-toolbar>

    <div class="main-nav-drawer-content">
      <NavContent />
    </div>
  </md-drawer>
</div>