<!-- import { NavContent } from './nav-content.js' -->
<div class="main-nav-container">
  <if e:expect="!isSplash">
  <md-content class="main-nav">
    <NavContent/>
  </md-content>
  </if>
  

  <md-drawer fixed e:active="isMenuVisible" on:update.active="isMenuVisible = args[0]" on:closed="hideMenu">
    <md-toolbar class="md-transparent" elevation="0">
      <!-- <logo-vue-material class="md-icon" animated :blending="false" /> -->
      <span class="md-title">Vue material</span>
    </md-toolbar>

    <div class="main-nav-drawer-content">
      <NavContent />
    </div>
  </md-drawer>
</div>