<div class="full-control">
  <md-list>
    <md-subheader>Notifications</md-subheader>

    <md-list-item>
      <md-checkbox e:value="notification" trueValue="preview" />
      <span class="md-list-item-text">Show content preview</span>
    </md-list-item>

    <md-list-item>
      <md-checkbox e:value="notification" trueValue="sound" />
      <span class="md-list-item-text">Sound</span>
    </md-list-item>

    <md-list-item>
      <md-checkbox e:value="notification" trueValue="vibrate" />
      <span class="md-list-item-text">Vibrate</span>
    </md-list-item>

    <md-list-item>
      <md-checkbox e:value="notification" trueValue="light" />
      <span class="md-list-item-text">Notification light</span>
    </md-list-item>
  </md-list>

  <md-list>
    <md-subheader>Settings</md-subheader>

    <md-list-item>
      <md-icon-network_wifi/>
      <span class="md-list-item-text">WiFi</span>
      <md-switch e:value="settings.wifi" on:change="settings.wifi = args[0]" />
    </md-list-item>

    <md-list-item>
      <md-icon-bluetooth/>
      <span class="md-list-item-text">Bluetooth</span>
      <md-switch e:value="settings.bluetooth" on:change="settings.bluetooth = args[0]"/>
    </md-list-item>

    <md-list-item>
      <md-icon-data_usage/>
      <span class="md-list-item-text">Data Usage</span>
    </md-list-item>
  </md-list>

  <md-list>
    <md-subheader>Ringtone</md-subheader>

    <md-list-item>
      <md-radio e:checked="ringtone === 'joy'" on:change="ringtone = args[0]" value="joy"/>
      <span class="md-list-item-text">Joy</span>
    </md-list-item>

    <md-list-item>
      <md-radio e:checked="ringtone === 'metal'" on:change="ringtone = args[0]" value="metal" />
      <span class="md-list-item-text">Metal</span>
    </md-list-item>

    <md-list-item>
      <md-radio e:checked="ringtone === 'peace'" on:change="ringtone = args[0]" value="peace" />
      <span class="md-list-item-text">Peace</span>
    </md-list-item>

    <md-list-item>
      <md-radio e:checked="ringtone === 'rock-night'" on:change="ringtone = args[0]" value="rock-night" />
      <span class="md-list-item-text">Rock night</span>
    </md-list-item>
  </md-list>
</div>