<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="工具提示">
  <div class="page-container-section">
    <p><_t>
      工具提示用于在鼠标悬停时会展示提示信息，提示信息可能包含有关其功能的简短说明，也可以是更丰富的 HTML 信息。
    </_t></p>
  </div>

  <div class="page-container-section">
    <h2><_t>工具提示</_t></h2>
    <CodeExample title="Tooltip" e:example="_examples.simple" />

    <ApiItem title="API - md-tooltip">
      <NoteBlock tip slot-pass:default>
        <_t>Popover 组件的所有 API 也可用于 Tooltip 组件。但部分属性的默认值不同。</_t>
      </NoteBlock>
      <ApiTable e:headings="api.props.headings" e:props="api.props.props" slot-pass:props />
    </ApiItem>
  </div>
</PageContainer>