<div>
  <p><_t>简单地使用内置 Trigger 触发气泡卡片展示和隐藏：</_t></p>
  <p>
    <md-popover class="md-example-popover" trigger="hover">
      <md-button class="md-primary md-raised" slot-pass:default>Hover Me</md-button>
      <_slot slot-pass:content>
        <div class="md-popover-title">Title</div>
        <div class="md-popover-content">Content<br/>Content</div>
      </_slot>
    </md-popover>
    <md-popover offset="16" placement="top" class="md-example-popover">
      <md-button class="md-primary md-raised" slot-pass:default>Click Me</md-button>
      <_slot slot-pass:content>
        <div class="md-popover-title">Title</div>
        <div class="md-popover-content">Content<br/>Content</div>
      </_slot>
    </md-popover>
  </p>
  <p>
    <_t>通过父组件里的参数控制气泡的显示和隐藏：</_t>
  </p>
  <p>
    <md-popover
      e:active="isPopShown"
      e:closeWhenOutsideClidk="false"
      on:update.active="isPopShown = args[0]"
      class="md-example-popover"
    >
      <md-button class="md-primary md-raised" slot-pass:default>Click me to toggle popover</md-button>
      <_slot slot-pass:content>
        <div class="md-popover-title">Title</div>
        <div class="md-popover-content">Content<br/>Content</div>
        <div class="md-popover-ctrl">
          <md-button on:click="isPopShown = false" class="md-primary">Close</md-button>
        </div>
      </_slot>
    </md-popover>
    <md-button on:click="isPopShown = !isPopShown" class="md-raised">
      ${isPopShown ? 'hide' : 'show'}
    </md-button>
  </p>
</div>