<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="对话框（Dialog）">
  <div class="page-container-section">
    <p>Dialogs informs users about a specific task and may contain critical information, require decisions, or involve multiple tasks. The dialog component works with any plain html content. You can have tabs inside, all form components and many more.</p>
    <p>The component can be used with a custom markup, using the auxiliary components or with presets made by Vue Material. Those presets emulates the default Dialogs from Javascript, like confirm, alert and prompt.</p>

    <NoteBlock tip>To allow scrolling in content of modal you need to wrap your content in <code>md-dialog-content</code> component.</NoteBlock>

  </div>
  <div class="page-container-section">
    <h2>对话框（Dialog）</h2>

    <p>The Dialog component can have any HTML markup inside. This allows you to create rich dialog content, like the details of a table row, for example:</p>
    <CodeExample _t:title="自定义内容" e:_example="_examples.customMarkup" />

    <ApiItem title="API - md-dialog">
      <p slot-pass:default>The following options can be applied to any dialog, even on presets:</p>

      <ApiTable e:headings="_api.dialog.props.headings" e:props="_api.dialog.props.props" slot-pass:props />
      <ApiTable e:headings="_api.dialog.events.headings" e:props="_api.dialog.events.props" slot-pass:events />
    </ApiItem>
  </div>
  <div class="page-container-section">
    <h2>提示对话框（Alert）</h2>

    <p>
      可以通过在 html 模板里使用<code>&lt;md-dialog-alert&gt;</code>组件，
      也可以通过在 js 代码中直接调用<code>DialogAlert</code>组件的静态函数<code>show</code>来触发。
    </p>
    <p>
      <code>DialogAlert.show</code>函数第一个参数为必须的 Object 类型的 options，
      该 options 可指定的属性和<code>&lt;md-dialog-alert&gt;</code>组件的属性一致。
    </p>
    <p>
      该函数接收的第二个参数是可选的关闭对话框后的回调函数。
      如果该回调函数返回了<code>false</code>则会阻止对话框的关闭。
    </p>
    <CodeExample title="Accepts custom HTML too!" e:_example="_examples.dialogAlert" />

    <ApiItem title="API - md-dialog-alert">
      <p slot-pass:default>The following props can be applied to alerts:</p>

      <ApiTable e:headings="_api.alert.props.headings" e:props="_api.alert.props.props" slot-pass:props />
    </ApiItem>
  </div>
  <div class="page-container-section">
    <h2>确认对话框（Confirm）</h2>

    <p>
      展示确认对话框，可以通过在 html 模板里使用<code>&lt;md-dialog-confirm&gt;</code>组件，
      也可以通过在 js 代码中直接调用<code>DialogConfirm</code>组件的静态函数<code>show</code>来触发。
    </p>
    <p>
      <code>DialogConfirm.show</code>函数第一个参数为必须的 Object 类型的 options，
      该 options 里的可指定的属性和<code>&lt;md-dialog-confirm&gt;</code>组件的属性一致。
    </p>
    <p>
      该函数接收的可选的第二个参数和第三个参数依次是确认和取消的回调，
      如果回调函数返回了<code>false</code>则会阻止对话框的关闭。
    </p>
    <p>
      在实际业务使用时，有一种常见情况是，在 confirm 回调中要调用服务器的 api 接口更新，
      api 请求成功后，才关闭对话框（如果失败，则允许用户重试），
      api 请求过程中 Confirm 按钮不能点击且有 spinner 状态。
    </p>
    <p>
      针对这种情况，confirmCallback 允许返回 `false` 来阻止对话框关闭，还允许直接
      返回一个 Promise 对象。对话框会等待该 Promise，直到其 resolve 返回的数据
      不是 `false` 才关闭对话框。
    </p>
    <CodeExample title="Accepts custom HTML too!" e:_example="_examples.dialogConfirm" />

    <ApiItem title="API - md-dialog-alert">
      <p slot-pass:default>The following props can be applied to confirms:</p>

      <ApiTable e:headings="_api.confirm.props.headings" e:props="_api.confirm.props.props" slot-pass:props />
    </ApiItem>
  </div>
</PageContainer>