.md-button-content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;

  > .md-icon:not(:only-child),
  > .md-spinner:not(:only-child) {
    margin-right: 6px;
  }

  > .md-icon:only-child,
  > .md-spinner:only-child {
    font-size: 24px;
  }
}
