@import '../../util.scss';
@import './tokens.scss';

:root {
  --md-color-primary: #{$md-color-primary};
  --md-color-primary-rgb: #{md-color-to-rgb($md-color-primary)};
  --md-color-on-primary: #{$md-color-on-primary};
  --md-color-on-primary-rgb: #{md-color-to-rgb($md-color-on-primary)};
  --md-color-primary-container: #{$md-color-primary-container};
  --md-color-primary-container-rgb: #{md-color-to-rgb($md-color-primary-container)};
  --md-color-on-primary-container: #{$md-color-on-primary-container};
  --md-color-on-primary-container-rgb: #{md-color-to-rgb($md-color-on-primary-container)};
  --md-color-secondary: #{$md-color-secondary};
  --md-color-secondary-rgb: #{md-color-to-rgb($md-color-secondary)};
  --md-color-on-secondary: #{$md-color-on-secondary};
  --md-color-on-secondary-rgb: #{md-color-to-rgb($md-color-on-secondary)};
  --md-color-secondary-container: #{$md-color-secondary-container};
  --md-color-secondary-container-rgb: #{md-color-to-rgb($md-color-secondary-container)};
  --md-color-on-secondary-container: #{$md-color-on-secondary-container};
  --md-color-on-secondary-container-rgb: #{md-color-to-rgb($md-color-on-secondary-container)};
  --md-color-tertiary: #{$md-color-tertiary};
  --md-color-tertiary-rgb: #{md-color-to-rgb($md-color-tertiary)};
  --md-color-on-tertiary: #{$md-color-on-tertiary};
  --md-color-on-tertiary-rgb: #{md-color-to-rgb($md-color-on-tertiary)};
  --md-color-tertiary-container: #{$md-color-tertiary-container};
  --md-color-tertiary-container-rgb: #{md-color-to-rgb($md-color-tertiary-container)};
  --md-color-on-tertiary-container: #{$md-color-on-tertiary-container};
  --md-color-on-tertiary-container-rgb: #{md-color-to-rgb($md-color-on-tertiary-container)};
  --md-color-error: #{$md-color-error};
  --md-color-error-rgb: #{md-color-to-rgb($md-color-error)};
  --md-color-error-container: #{$md-color-error-container};
  --md-color-error-container-rgb: #{md-color-to-rgb($md-color-error-container)};
  --md-color-on-error: #{$md-color-on-error};
  --md-color-on-error-rgb: #{md-color-to-rgb($md-color-on-error)};
  --md-color-on-error-container: #{$md-color-on-error-container};
  --md-color-on-error-container-rgb: #{md-color-to-rgb($md-color-on-error-container)};
  --md-color-background: #{$md-color-background};
  --md-color-background-rgb: #{md-color-to-rgb($md-color-background)};
  --md-color-on-background: #{$md-color-on-background};
  --md-color-on-background-rgb: #{md-color-to-rgb($md-color-on-background)};
  --md-color-surface: #{$md-color-surface};
  --md-color-surface-rgb: #{md-color-to-rgb($md-color-surface)};
  --md-color-on-surface: #{$md-color-on-surface};
  --md-color-on-surface-rgb: #{md-color-to-rgb($md-color-on-surface)};
  --md-color-surface-variant: #{$md-color-surface-variant};
  --md-color-surface-variant-rgb: #{md-color-to-rgb($md-color-surface-variant)};
  --md-color-on-surface-variant: #{$md-color-on-surface-variant};
  --md-color-on-surface-variant-rgb: #{md-color-to-rgb($md-color-on-surface-variant)};
  --md-color-outline: #{$md-color-outline};
  --md-color-outline-rgb: #{md-color-to-rgb($md-color-outline)};
  --md-color-inverse-on-surface: #{$md-color-inverse-on-surface};
  --md-color-inverse-on-surface-rgb: #{md-color-to-rgb($md-color-inverse-on-surface)};
  --md-color-inverse-surface: #{$md-color-inverse-surface};
  --md-color-inverse-surface-rgb: #{md-color-to-rgb($md-color-inverse-surface)};
  --md-color-inverse-primary: #{$md-color-inverse-primary};
  --md-color-inverse-primary-rgb: #{md-color-to-rgb($md-color-inverse-primary)};
  --md-color-shadow: #{$md-color-shadow};
  --md-color-shadow-rgb: #{md-color-to-rgb($md-color-shadow)};
  --md-color-surface-tint: #{$md-color-surface-tint};
  --md-color-surface-tint-rgb: #{md-color-to-rgb($md-color-surface-tint)};
  --md-color-outline-variant: #{$md-color-outline-variant};
  --md-color-outline-variant-rgb: #{md-color-to-rgb($md-color-outline-variant)};
  --md-color-scrim: #{$md-color-scrim};
  --md-color-scrim-rgb: #{md-color-to-rgb($md-color-scrim)};
  --md-color-surface-1: #{$md-color-surface-1};
  --md-shadow-elevation-1: #{$md-shadow-elevation-1};
  --md-color-surface-2: #{$md-color-surface-2};
  --md-shadow-elevation-2: #{$md-shadow-elevation-2};
  --md-color-surface-3: #{$md-color-surface-3};
  --md-shadow-elevation-3: #{$md-shadow-elevation-3};
  --md-color-surface-4: #{$md-color-surface-4};
  --md-shadow-elevation-4: #{$md-shadow-elevation-4};
  --md-color-surface-5: #{$md-color-surface-5};
  --md-shadow-elevation-5: #{$md-shadow-elevation-5};
}
