<div class="demo-badge">
  <div>
    <md-badge content="1">
      <md-button class="md-icon-button">
        <md-icon-notifications/>
      </md-button>
    </md-badge>

    <md-badge class="md-primary" content="1">
      <md-button class="md-icon-button">
        <md-icon-home/>
      </md-button>
    </md-badge>

    <md-badge position="bottom" content="2">
      <md-button class="md-icon-button">
        <md-icon-home/>
      </md-button>
    </md-badge>
  </div>

  <div>
    <md-badge class="md-primary" content="999+">
      <md-avatar>
        <img src="assets/examples/avatar.png" alt="Avatar"/>
      </md-avatar>
    </md-badge>
  </div>

  <div>
    <md-badge class="md-primary md-square" position="bottom" content="12">
      <md-button>
        Button with
      </md-button>
    </md-badge>
  </div>
</div>