<div>
  <md-list>
    <md-list-item>
      <md-icon-move_to_inbox/>
      <span class="md-list-item-text">Inbox</span>
      <md-badge class="md-primary md-square" content="6" />
    </md-list-item>

    <md-list-item>
      <md-icon-send/>
      <span class="md-list-item-text">Sent Mail</span>
    </md-list-item>

    <md-list-item>
      <md-icon-delete/>
      <span class="md-list-item-text">Trash</span>
      <md-badge class="md-primary" content="6" />
    </md-list-item>

    <md-list-item>
      <md-icon-error/>
      <span class="md-list-item-text">Spam</span>
      <md-badge class="md-square" content="New" />
    </md-list-item>
  </md-list>
</div>