@use 'sass:map';

@import '../../_style/animation.scss';

.md-popover {
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
}

// // .md-popover > .md-popover-content {
// //   overflow: hidden;
// //   border-radius: 4px;
// // }

.md-popover-enter,
.md-popover-leave-active {
  opacity: 0;
}

.md-popover-enter-active {
  transition: transform 0.2s $md-transition-stand-timing, opacity 0.3s $md-transition-stand-timing;
}

.md-popover-leave-active {
  transition-duration: 0.15s;
  transition-property: opacity, transform;
  transition-timing-function: $md-transition-leave-timing;
}

$pto: (
  top: bottom center,
  top-start: bottom left,
  top-end: bottom right,
  bottom: top center,
  bottom-start: top left,
  bottom-end: top right,
  left: center right,
  left-start: top right,
  left-end: bottom right,
  right: center left,
  right-start: top left,
  right-end: bottom left,
);
$offset: 6px;
$pof: (
  bottom: translate3d(0, -$offset, 0),
  top: translate3d(0, $offset, 0),
  left: translate3d($offset, 0, 0),
  right: translate3d(-$offset, 0, 0),
);

@each $p in (left, right, top, bottom) {
  @each $s in ('', '-start', '-end') {
    .md-popover-#{$p}#{$s} {
      > .md-popover-enter,
      > .md-popover-leave {
        transform-origin: map.get($pto, #{$p}#{$s});
      }

      > .md-popover-enter,
      > .md-popover-leave-active {
        transform: map.get($pof, $p) scale(0.95);
      }
    }
  }
}

.md-popover > .md-popover-enter.md-popover-enter-active {
  opacity: 1;
  transform: none;
}
