@import '../../_style/animation.scss';
@import '../../_style/layout/mixins.scss';

.md-menu {
  position: relative;

  & > .md-container > .md-content-layer {
    padding: 8px 0;
    border-radius: 4px;
  }

  .md-menu-divider {
    margin: 8px 0;
    height: 1px;
    width: 100%;
    background-color: var(--md-color-surface-variant);
  }
}

.md-menu .md-menu-item {
  --md-state-layer-opacity: 0;

  background-color: rgb(var(--md-color-primary-rgb) / var(--md-state-layer-opacity));
  height: 48px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    --md-state-layer-opacity: 0.08;
  }

  &:focus {
    --md-state-layer-opacity: 0.12;
  }

  &:active {
    --md-state-layer-opacity: 0.12;
  }

  &.md-disabled {
    color: red;
  }

  > .md-space {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }

  > .md-icon:first-child {
    font-size: 24px;
    color: var(--md-color-on-surface-variant);
    margin: 0 12px 0 0;
  }

  .md-trailing {
    color: var(--md-color-on-surface-variant);
    margin-left: 8px;
    justify-self: flex-end;
  }
}
