<div class="out">
  <div class="phone-viewport">
    <md-bottom-bar>
      <md-bottom-bar-item e:to="{name: 'components.bottom-bar', params: {sub: null}}">
        <md-icon-home class="md-bottom-bar-icon"/>
        <span class="md-bottom-bar-label">Home</span>
      </md-bottom-bar-item>
      <md-bottom-bar-item e:to="{name: 'components.bottom-bar', params: {sub: 'posts'}}">
        <md-icon class="md-bottom-bar-icon" src="assets/icon/whatshot.svg"/>
        <span class="md-bottom-bar-label">Posts</span>
      </md-bottom-bar-item>
      <md-bottom-bar-item e:to="{name: 'components.bottom-bar', params: {sub: 'favorites'}}">
        <md-icon-favorite class="md-bottom-bar-icon"/>
        <span class="md-bottom-bar-label">Favorites</span>
      </md-bottom-bar-item>
    </md-bottom-bar>
  </div>
  <div class="phone-viewport">
    <md-bottom-bar class="md-accent">
      <md-bottom-bar-item e:to="{name: 'components.bottom-bar', params: {sub: null}}">
        <md-icon-home class="md-bottom-bar-icon"/>
        <span class="md-bottom-bar-label">Home</span>
      </md-bottom-bar-item>
      <md-bottom-bar-item e:to="{name: 'components.bottom-bar', params: {sub: 'posts'}}">
        <md-icon class="md-bottom-bar-icon" src="assets/icon/whatshot.svg"/>
        <span class="md-bottom-bar-label">Posts</span>
      </md-bottom-bar-item>
      <md-bottom-bar-item e:to="{name: 'components.bottom-bar', params: { sub: 'favorites' }}">
        <md-icon-favorite class="md-bottom-bar-icon"/>
        <span class="md-bottom-bar-label">Favorites</span>
      </md-bottom-bar-item>
    </md-bottom-bar>
  </div>
</div>