<div>
  <div class="phone-viewport">
    <md-bottom-bar type="shift">
      <md-bottom-bar-item to="components.bottom-bar" e:params="{ sub: null }">
        <md-icon-home class="md-bottom-bar-icon"/>
        <span class="md-bottom-bar-label">Home</span>
      </md-bottom-bar-item>
      <md-bottom-bar-item to="components.bottom-bar" e:params="{ sub: 'pages' }">
        <md-icon-pages class="md-bottom-bar-icon"/>
        <span class="md-bottom-bar-label">Pages</span>
      </md-bottom-bar-item>
      <md-bottom-bar-item to="components.bottom-bar" e:params="{ sub: 'posts' }">
        <md-icon class="md-bottom-bar-icon" src="/assets/icon/whatshot.svg"/>
        <span class="md-bottom-bar-label">Posts</span>
      </md-bottom-bar-item>
      <md-bottom-bar-item to="components.bottom-bar" e:params="{ sub: 'favorites' }">
        <md-icon-favorite class="md-bottom-bar-icon"/>
        <span class="md-bottom-bar-label">Favorites</span>
      </md-bottom-bar-item>
    </md-bottom-bar>
  </div>
  <div class="phone-viewport">
    <md-bottom-bar class="md-accent" type="shift">
      <md-bottom-bar-item>
        <md-icon-home class="md-bottom-bar-icon"/>
        <span class="md-bottom-bar-label">Home</span>
      </md-bottom-bar-item>
      <md-bottom-bar-item>
        <md-icon-pages class="md-bottom-bar-icon"/>
        <span class="md-bottom-bar-label">Pages</span>
      </md-bottom-bar-item>
      <md-bottom-bar-item>
        <md-icon class="md-bottom-bar-icon" src="/assets/icon/whatshot.svg"/>
        <span class="md-bottom-bar-label">Posts</span>
      </md-bottom-bar-item>
      <md-bottom-bar-item>
        <md-icon-favorite class="md-bottom-bar-icon"/>
        <span class="md-bottom-bar-label">Favorites</span>
      </md-bottom-bar-item>
    </md-bottom-bar>
  </div>
</div>