<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="多选框">
  <div class="page-container-section">
    <h2><_t>多选框</_t></h2>
    <p><_t>多选框有两种使用模式，单一模式（Single）和数组（Array）模式。</_t></p>
    <p><_t>
      单一模式下多选框的 value 是一个单一的值，该多选框被点击切换时，
      其 value 会在 trueValue 和 falseValue 这两个单一值之间切换，
      并通过 change 事件向外传递切换后的值。
    </_t></p>
    <CodeExample title="Single" e:example="_examples.singleCheckbox" />

    <p><_t>
      数组模式下多选框的 value 是数组，需要指定 trueValue 但不需要指定 falseValue。
      该多选框被点击时，会向 value 指定的数组里添加或删除 trueValue 指定的元素。
      需要注意这种模式下，value 指定的数组，会被直接修改，并通过 change 事件向外传递修改后的数组。
    </_t></p>
    <CodeExample title="Array" e:example="_examples.arrayCheckbox" />

    <ApiItem title="API - md-button">
      <ApiTable e:headings="api.props.headings" e:props="api.props.props" slot-pass:props />
      <ApiTable e:headings="api.events.headings" e:props="api.events.props" slot-pass:events />
    </ApiItem>

    <NoteBlock tip><_t>
      浏览器原生 <code>&lt;input type=&quot;checkbox&quot;&gt;</code> 标签上可以使用的属性，比如 <strong>name</strong> 和 <strong>required</strong> 等，也可以被应用到 <code>md-checkbox</code> 组件上。
    </_t></NoteBlock>
  </div>
</PageContainer>