<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered _t:title="多选框 Checkbox">
  <div class="page-container-section">
    <h2><_t>多选框</_t></h2>
    <p><_t>多选框有两种使用模式，单一模式（Single)和数组（Array）模式。</_t></p>
    <p>
      <_t>
        单一模式下多选框的 value 是一个单一的值，该多选框被点击切换时，
        其 value 会在 trueValue 和 falseValue 这两个单一值之间切换，
        并通过 change 事件向外传递切换后的值。
      </_t>
    </p>
    <CodeExample _t:_title="单一模式多选框" e:example="_examples.singleCheckbox" />

    <p>
      <_t>
        数组模式下多选框的 value 是数组，需要指定 trueValue 但不需要指定 falseValue。
        该多选框被点击时，会向 value 指定的数组里添加或删除 trueValue 指定的元素。
        需要注意这种模式下，value 指定的数组，会被直接修改，并通过 change 事件向外传递修改后的数组。
      </_t>
    </p>
    <CodeExample _t:_title="数组模式多选框" e:example="_examples.arrayCheckbox" />

    <ApiItem title="API - md-button">
      <p slot-pass:default>
        <_t>
          The following options can be applied to all checkboxes:
        </_t>
      </p>

      <ApiTable e:headings="_api.props.headings" e:props="_api.props.props" slot-pass:props />
      <ApiTable e:headings="_api.events.headings" e:props="_api.events.props" slot-pass:events />
    </ApiItem>

    <NoteBlock tip>
      All other <code>&lt;input type=&quot;checkbox&quot;&gt;</code> attributes, such as <strong>name</strong> and <strong>required</strong>, can be used on <code>md-checkbox</code>.
    </NoteBlock>
  </div>
</PageContainer>