@import '../animation/variables';

.md-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  overflow: hidden;
  background: rgb(0 0 0 / 60%);

  body > &,
  &.md-fixed {
    position: fixed;
  }
}

.md-overlay-enter,
.md-overlay-leave {
  transition: 0.35s $md-transition-default-timing;
}

.md-overlay-enter.md-overlay-enter-active {
  opacity: 100%;
}

.md-overlay-enter,
.md-overlay-leave-active {
  opacity: 0%;
}
