@import './_elevation';

:root {
  @include theme-elevation(true, #121212);

  --md-primary: #9fa8da;
  --md-secondary: #f48fb1;
  --md-background: #121212;
  --md-surface: #121212;
  --md-surface-disabled: rgb(255 255 255 / 12%);
  --md-error: #cf6679;
  --md-on-primary: #000;
  --md-on-primary-medium: rgb(0 0 0 / 74%);
  --md-on-primary-disabled: rgb(0 0 0 / 38%);
  --md-on-secondary: #000;
  --md-on-secondary-disabled: rgb(0 0 0 / 38%);
  --md-on-background: #fff;
  --md-on-surface: rgb(255 255 255 / 87%);
  --md-on-surface-medium: rgb(255 255 255 / 60%);
  --md-on-surface-disabled: rgb(255 255 255 / 38%);
  --md-on-error: #000;
  --md-outline: rgb(255 255 255 / 12%);
}
