@import 'style/palette.scss';

.api-table {
  padding-bottom: 16px;
}

table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 13px;
  line-height: 18px;
}

tr:first-child {
  font-weight: 500;
  background-color: var(--md-elevation-1);
}

td,
th {
  padding: 8px 16px;
  border: 1px solid var(--md-outline);
  text-align: left;
  vertical-align: middle;
}

th {
  color: var(--md-on-surface-medium);
  height: 40px;
  line-height: 23px;

  &:first-child {
    width: 22%;
  }

  &:nth-child(2) ~ &:last-child {
    width: 17%;
  }
}

td.offset {
  padding-left: 32px;
}

.prop {
  vertical-align: top;
}

.prop-name {
  display: block;
}

.prop-type {
  color: var(--md-on-surface-disabled);
  text-transform: capitalize;
}

.slot-options {
  width: 40%;
}

code {
  color: md-get-palette-color(red, A200);

  /deep/ span {
    color: md-get-palette-color(blue, A200);
  }
}

.description,
.prop-name {
  /deep/ code {
    color: md-get-palette-color(red, A200);
  }
}
