<div class="api-table">
  <table>
    <tr>
      <for e:loop="headings" _key="each" vm:each="heading">
      <th>${ heading }</th>
      </for>
    </tr>
    <for e:loop="props" _key="each.name" vm:each="prop">
    <tr>
      <td class="prop ${prop.offset ? 'offset' : ''}">
        <span class="prop-name"><bind-html e:content="prop.name"/></span>
        <if e:expect="prop.type">
        <small class="prop-type">${ prop.type }</small>        
        </if>
      </td>
      <if e:expect="prop.description">
      <td><bind-html e:content="prop.description"/></td>
      </if>
      <if e:expect="prop.options">
      <td class="slot-options">
        <for e:loop="prop.options" _key="index" vm:each="option" vm:index="index">
        <p class="option">
          <code>${ option.name }: </code>
          <span><bind-html e:content="option.description"/></span>
        </p>
        </for>
        <if e:expect="usage">
        <div class="usage">
          <strong>Usage: </strong>
          <p><code>${ option.usage }</code></p>
        </div>
        </if>
      </td>
      </if>
      <if e:expect="prop.defaults || prop.value || prop.example">
      <td>
        <code><bind-html e:content="prop.defaults || prop.value || prop.example"/></code>
      </td>
      </if>
    </tr>
    </for>
  </table>
</div>