<!-- import { DynamicComponent } from './dynamic-component.js' -->
<div class="api-item">
  <h3>${_title}</h3>

  <_slot />

  <div class="api-item-navigation">
    <for e:loop="_slots" vm:each="_slot" >
    <md-button
      class="${ currentSlot === _slot ? 'md-primary': '' }"
      on:click="currentSlot = _slot.name">
      ${ _slot.title }
    </md-button>
    </for>
  </div>
  <for e:loop="_slots" vm:each="_slot">
  <if e:expect="currentSlot === _slot.name">
  <div class="api-item-content">
    <DynamicComponent e:render="_slot.render"/>
  </div>
  </if>
  </for>
  
</div>