@import 'src/animation/variables';
@import 'style/palette';

.code-block {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #2e2e2e;

  + .code-block {
    margin-top: 24px;
  }

  &:hover {
    .md-button {
      opacity: 100%;
    }
  }

  &::after {
    position: absolute;
    top: 16px;
    right: 16px;
    transition: $md-transition-stand;
    color: rgb(#fff 0.38);
    content: attr(data-lang);
    font-size: 11px;
    line-height: 1em;
    text-transform: uppercase;
  }

  pre {
    max-width: 100%;
    margin: 0;
    white-space: pre-wrap;
  }

  code {
    padding: 0;
    background: none;
    font-family: 'Roboto Mono', Menlo, Monaco, 'Courier New', monospace;
  }
}

.code-block-wrapper {
  min-width: 100%;
  max-height: 450px;
  min-height: 86px;
  padding: 16px;
  overflow: auto;
}

.md-button {
  min-width: 56px;
  margin: 8px;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0%;
}

.copy-message {
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--md-snackbar-background);
  border-radius: 2px;
  transform: translate3d(0, -48px, 0);
  transition: 0.3s $md-transition-drop-timing;
  color: var(--md-snackbar-text);
  font-size: 14px;
  line-height: 1em;

  &.active {
    transition: 0.3s $md-transition-stand-timing;
    transform: translate3d(0, 0, 0);
  }
}
