@import 'src/animation/variables';
@import 'style/engine/index';

$color: md-get-palette-color(grey, 700);

.code-example {
  margin: 36px 0;

  > .nav > a {
    margin-right: 10px;
    cursor: pointer;
  }
}

.md-toolbar.md-primary {
  position: relative;
  z-index: 1;
  background-color: $color;
  color: #fff;

  .md-icon {
    color: #fff;
  }

  .md-button {
    margin: 0 8px;
    font-family: 'Roboto Mono', Menlo, Monaco, 'Courier New', monospace;
    width: 38px;
    height: 38px;
  }
}

.md-title {
  flex: 1;
  color: #fff !important;
}

.demo {
  min-height: 86px;
  padding: 16px;
  position: relative;
  border: 1px solid $color;
  border-top: 0;
  background-color: md-get-palette-color(grey, 50);

  // &.md-theme-demo-light {
  // }

  // &.md-theme-demo-dark {
  //   background-color: md-get-palette-color(grey, 900);
  // }
}

.button-theme {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 40;
}

.block-leave-active {
  display: none;
}

.block-enter-active {
  opacity: 0;
  transition: opacity 0.4s $md-transition-default-timing;
  will-change: opacity;
}

.block-enter-to {
  opacity: 1;
}
