<!--
  import { CodeBlock } from './code-block';
-->
<div class="code-example">
  <md-toolbar class="md-dense md-primary" elevation="0">
    <span class="md-title">${_title}</span>
    <if e:expect="tab !== 'demo'">
      <md-tooltip _t:title="显示示例">
        <md-button on:click="tab = 'demo'" class="md-icon-button md-dense md-on-primary">
          <md-icon-code/>
        </md-button>
      </md-tooltip>
    </if>
    <md-tooltip _t:title="显示 javascript 代码">
      <md-button on:click="tab = 'js'" class="md-icon-button md-dense md-on-primary">
        js
      </md-button>
    </md-tooltip>
    <md-tooltip _t:title="显示 html 代码">
      <md-button on:click="tab = 'html'" class="md-icon-button md-dense md-on-primary">
        html
      </md-button>
    </md-tooltip>
    <if e:expect="_example.source.scss">
    <md-tooltip _t:title="显示 scss 代码">
      <md-button on:click="tab = 'scss'" class="md-icon-button md-dense md-on-primary">
        scss
      </md-button>
    </md-tooltip>
    </if>
  </md-toolbar>
  <switch e:test="tab">
    <md-content slot-pass:demo class="demo">
      <div class="demo-content">
        <dynamic e:render="{_component: _example.component}"/>
      </div>
    </md-content>
    
    <CodeBlock slot-pass:html lang="xml" e:code="_example.source.html" />
    <CodeBlock slot-pass:js lang="javascript" e:code="_example.source.js" />
    <CodeBlock slot-pass:scss lang="scss" e:code="_example.source.scss" />
  </switch>
</div>