@import 'style/palette.scss';

.hljs {
  color: #{ md-get-palette-color(grey, 200) };
  font-size: 15px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.5em;
}

.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #7c7c7c;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name {
  color: #f07178;
}

.hljs-tag,
.hljs-params {
  color: #89ddff;
}

.hljs-attribute {
  color: #a7bfc9;
}

.hljs-selector-class,
.hljs-selector-id,
.hljs-built_in {
  color: #fdd835;
}

.hljs-attr,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-function {
  color: #bb8adb;
}

.hljs-string,
.hljs-addition {
  color: #bbdf88;
}

.hljs-subst {
  color: #daefa3;
}

.hljs-regexp,
.hljs-link {
  color: #e9c062;
}

.hljs-title,
.hljs-section,
.hljs-type,
.hljs-doctag {
  color: #ffffb6;
}

.hljs-symbol,
.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-literal {
  color: #ffab40;
}

.hljs-number,
.hljs-deletion {
  color: #ffab40;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 500;
}

.scss,
.undefined {
  color: #89dcfe;
}

.javascript .hljs-attr {
  color: #bbdf88;
}
