@import 'style/palette.scss';
@import 'src/animation/variables.scss';

.code-example {
  margin: 36px 0;

  > .nav > a {
    margin-right: 10px;
    cursor: pointer;
  }
}

.md-toolbar {
  .md-button {
    margin: 0 8px;
    font-family: 'Roboto Mono', Menlo, Monaco, 'Courier New', monospace;
    width: 38px;
    height: 38px;
  }
}

.md-title {
  flex: 1;
}

.demo {
  min-height: 86px;
  padding: 16px;
  position: relative;
  border: 1px solid var(--md-outline);
  border-top: 0;
  background-color: var(--md-elevation-8);
}

.button-theme {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 40;
}

.block-leave-active {
  display: none;
}

.block-enter-active {
  opacity: 0;
  transition: opacity 0.4s $md-transition-default-timing;
  will-change: opacity;
}

.block-enter-to {
  opacity: 1;
}
