@import 'style/palette';

.note-block {
  margin: 1.5em 0;
  padding: 8px 16px;
  overflow: hidden;
  border-left: 4px solid #{md-get-palette-color(orange, A200)};

  &.alert {
    border-left-color: #{md-get-palette-color(red, A200)};
  }

  &.tip {
    border-left-color: #{md-get-palette-color(green, A200)};
  }

  &.warning {
    font-size: 15px;
  }
}
