@import 'src/animation/variables';
@import 'style/engine/index';

.page-container.centered {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px;
  transition: 0.4s $md-transition-default-timing;
}

.page-container-leave-active {
  display: none;
}

.page-container-enter-active {
  opacity: 0;
  transform: translate3d(0, 150px, 0);
  transition-property: opacity, transform;
  will-change: opacity, transform;
}

.page-container-enter-to {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.page-container /deep/ .page-container-section {
  letter-spacing: 0.01em;
  line-height: 1.6em;

  + .page-container-section {
    margin-top: 32px;
  }

  p > code,
  li > code,
  .note-block code {
    padding: 0 4px;
    display: inline-block;
    color: md-get-palette-color(red, A200);
    background: rgba(#000, 0.07);
    border-radius: 2px;
    line-height: 1.45em;
  }

  p,
  .md-layout-row {
    + .code-example {
      margin-top: 1em;
    }
  }
}
