@import '../../_style/animation.scss';
@import '../../_style/layout/mixins.scss';

$md-tooltip-height: 22px;
$md-tooltip-height-mobile: 32px;

.md-popover.md-tooltip {
  z-index: 111;
  pointer-events: none;

  > .content {
    font-size: 12px;
    padding: 4px 8px;
    text-transform: none;
    white-space: nowrap;

    @include md-layout(small) {
      font-size: 14px;
      padding: 8px 16px;
    }
  }

  .md-popover-enter-active {
    transition-duration: 0.15s;
  }
}
