.md-list {
  .md-autocomplete-items {
    .md-highlight-text-match {
      color: var(--md-primary);
    }
  }

  .md-autocomplete-loading {
    font-size: 24px;
    color: var(--md-primary, color);
    background-color: var(--md-outline);
    opacity: 0.38;
  }
}

.md-autocomplete {
  &.md-autocomplete-box {
    background-color: var(--md-surface);

    &.md-focused {
      label {
        color: var(--md-text-on-surface-medium);
      }
    }

    .md-toolbar & {
      background-color: rgba(255, 255, 255, 0.12);

      &.md-focused {
        background-color: var(--md-elevation-6);

        label,
        input {
          color: var(--md-on-surface);
        }
      }
    }
  }
}

.md-autocomplete-box-content {
  &::after {
    background-color: var(--md-surface);
    border-bottom-color: var(--md-outline);
  }
}
