<div class="page-container md-layout-column">
  <md-toolbar class="md-primary">
    <md-button class="md-icon-button" on:click="showNavigation = true">
      <md-icon-menu/>
    </md-button>
    <span class="md-title">My Title</span>

    <div class="md-toolbar-section-end">
      <md-button on:click="showSidepanel = true">Favorites</md-button>
    </div>
  </md-toolbar>

  <md-drawer e:active="showNavigation" on:update.active="showNavigation = args[0]">
    <md-toolbar class="md-transparent" elevation="0">
      <span class="md-title">My App name</span>
    </md-toolbar>

    <md-list>
      <md-list-item>
        <md-icon-move_to_inbox/>
        <span class="md-list-item-text">Inbox</span>
      </md-list-item>

      <md-list-item>
        <md-icon-send/>
        <span class="md-list-item-text">Sent Mail</span>
      </md-list-item>

      <md-list-item>
        <md-icon-delete/>
        <span class="md-list-item-text">Trash</span>
      </md-list-item>

      <md-list-item>
        <md-icon-error/>
        <span class="md-list-item-text">Spam</span>
      </md-list-item>
    </md-list>
  </md-drawer>

  <md-drawer right e:active="showSidepanel" on:update.active="showSidepanel = args[0]">
    <md-toolbar class="md-transparent" elevation="0">
      <span class="md-title">Favorites</span>
    </md-toolbar>

    <md-list>
      <md-list-item>
        <span class="md-list-item-text">Abbey Christansen</span>

        <md-button class="md-icon-button md-list-action">
          <md-icon-chat_bubble class="md-primary"/>
        </md-button>
      </md-list-item>

      <md-list-item>
        <span class="md-list-item-text">Alex Nelson</span>

        <md-button class="md-icon-button md-list-action">
          <md-icon-chat_bubble class="md-primary"/>
        </md-button>
      </md-list-item>

      <md-list-item>
        <span class="md-list-item-text">Mary Johnson</span>

        <md-button class="md-icon-button md-list-action">
          <md-icon-chat_bubble/>
        </md-button>
      </md-list-item>
    </md-list>
  </md-drawer>

  <md-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quibusdam, non molestias et! Earum magnam, similique, quo recusandae placeat dicta asperiores modi sint ea repudiandae maxime? Quae non explicabo, neque.
  </md-content>
</div>