.md-list {
  margin: 0;
  padding: 8px 0;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  list-style: none;

  &.md-dense {
    padding: 4px 0;
  }

  .md-divider {
    margin-top: -1px;
  }

  .md-subheader {
    &.md-inset {
      padding-left: 72px;
    }
  }

  > .md-subheader:first-of-type {
    margin-top: -8px;
  }

  &.md-double-line .md-list-item-text :nth-child(2) {
    color: var(--md-text-accent);
  }

  &.md-triple-line .md-list-item-text :nth-child(3) {
    color: var(--md-text-accent);
  }

  // .md-highlight .md-list-item-container {
  //   background-color: var(--md-outline);
  // }

  // .md-list-item-container {
  //   &:not(.md-list-item-default):not(.md-list-item-expand):not([disabled]):hover {
  //     background-color: var(--md-outline);
  //   }
  // }

  [disabled] {
    color: var(--md-on-surface-disabled);
  }

  .md-selected,
  .router-active {
    .md-list-item-content {
      color: var(--md-primary);
    }
  }

  .md-list-item-expand {
    &.md-active {
      border-color: var(--md-outline);
    }

    &:not(.md-list-item-default):not([disabled]) {
      > .md-list-item-content:hover {
        background-color: var(--md-outline);
        color: var(--md-on-surface);
      }
    }
  }
}
