@import 'style/engine/index';
@import 'style/themes/default';

.md-list {
  margin: 0;
  padding: 8px 0;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  list-style: none;

  &.md-dense {
    padding: 4px 0;
  }

  .md-divider {
    margin-top: -1px;
  }

  .md-subheader {
    &.md-inset {
      padding-left: 72px;
    }
  }

  > .md-subheader:first-of-type {
    margin-top: -8px;
  }

  @include md-theme-property(background-color, background);
  @include md-theme-property(color, text-primary, background);

  &.md-double-line .md-list-item-text :nth-child(2) {
    @include md-theme-property(color, text-accent, background);
  }

  &.md-triple-line .md-list-item-text :nth-child(3) {
    @include md-theme-property(color, text-accent, background);
  }

  .md-highlight .md-list-item-container {
    @include md-theme-property(background-color, divider, background);
  }

  .md-list-item-container {
    @include md-theme-property(color, text-primary, background);

    &:not(.md-list-item-default):not(.md-list-item-expand):not([disabled]):hover {
      @include md-theme-property(background-color, divider, background);
      @include md-theme-property(color, text-primary, background);
    }
  }

  [disabled] {
    @include md-theme-property(color, disabled, background);
  }

  .md-selected,
  .ui-router-active {
    .md-list-item-content {
      @include md-theme-property(color, primary, background);
    }
  }

  .md-list-item-expand {
    &.md-active {
      @include md-theme-property(border-color, divider, background);
    }

    &:not(.md-list-item-default):not([disabled]) {
      > .md-list-item-content:hover {
        @include md-theme-property(background-color, divider, background);
        @include md-theme-property(color, text-primary, background);
      }
    }
  }
}
