@import '../animation/variables';

.md-badge {
  position: absolute;
  right: 0;
  transform: translateX(50%);
  transition: 0.3s $md-transition-default-timing;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-style: normal;
  min-width: 22px;
  padding: 0 8px;
  height: 22px;
  border-radius: 11px;
  color: var(--on-secondary);
  pointer-events: none;
  z-index: 11;
  background-color: var(--md-secondary);

  &.md-primary {
    color: var(--md-on-primary);
    background-color: var(--md-primary);
  }

  .md-list-item-content & {
    position: relative;
    transform: none;
    top: 0;
    bottom: 0;
    right: 0;
  }

  &.md-dense {
    padding: 0;
    border-radius: 50%;
    min-width: 18px;
    width: 18px;
    height: 18px;
    font-size: 8px;
  }

  &.md-square {
    width: auto;
    border-radius: 3px;
    transform: none;
    height: 18px;
    padding: 0 4px;
  }
}
